/* determina telas com largura entre 391 a 428 px */
@media (max-width:428px) {

    .pagina {
        font-size: 1.6rem;
        line-height: 1.8rem;
        max-width: 412px;
    }

    #perfil {
        width: 119px;
        object-fit: cover;
        object-position: -102px;
    }

    h4 {
        font-size: 1.7rem;
    }

    hr {
        margin: 1% auto 2% auto;
    }

    h2 {
        font-size: 2.7rem;
        margin: 4%;
    }

    h3 {
        font-size: 1.6rem;
    }

    #imgQ4 {
        width: 839%;
        object-fit: cover;
    }

    #imgQ5 {
        width: 906%;
        object-fit: cover;
        object-position: -25px;
    }

    #caixa-texto-quadro6 {
        padding: 2% 2% 0 4%;
    }

    #imgQ6 {
        width: 592%;
        height: 428px;
        object-fit: cover;
        object-position: -97px;
    }

    #imgQ9 {
        height: 160px;
    }

    #quadro13 {
        grid-template-columns: 30% 10% 60%;
    }

    #caixa-texto-quadro13A {
        grid-area: 1 / 1 / span 1 / span 3;
        padding: 1% 3% 0 4%;
    }

    #caixa-texto-quadro13B {
        grid-area: 2 / 3 / span 1 / span 1;
        padding: 1% 6% 0 2%;
    }

    #imgQ13 {
        grid-area: 2 / 1 / span 1 / span 2;
    }

    #quadro15 {
        grid-template-columns: 66% 34%;
    }

    #caixa-texto-quadro15A {
        padding: 1% 4% 0 4%;
        grid-area: 1 / 1 / span 1 / span 2;
    }

    #imgQ15 {
        grid-area: 2 / 2 / span 1 / span 1;
    }

    #quadro16 {
        grid-template-columns: 43% 57%;
    }

    #caixa-texto-quadro16B {
        padding: 1% 4% 0 24%;
        font-weight: normal;
        font-size: 16px;
    }

    #imgQ16 {
        position: absolute;
        opacity: 40%;
        bottom: 0;
    }

    #caixa-texto-quadro17 {
        padding: 1% 4% 0 4%;
    }

    .opcoes {
        margin: 4% auto 0 auto;
    }

    .tooltip .tooltip1 {
        left: 31%;
        bottom: 43%;
        width: 265px;
    }

    .tooltip .tooltip2 {
        left: 31%;
        bottom: 31%;
        width: 265px;
    }

    .tooltip .tooltip3 {
        left: 30%;
        bottom: 7%;
        width: 280px;
    }

    .tooltip .tooltip4 {
        left: 4%;
        bottom: 34%;
        width: 300px;
    }

    .tooltip .tooltip5 {
        left: -27%;
        bottom: 6%;
        width: 295px;
    }

    .tooltip .tooltip6 {
        left: 3%;
        bottom: 37%;
        width: 290px;
    }

    .tooltip .tooltip7 {
        left: 5%;
        bottom: 16%;
        width: 312px;
    }

    .tooltip .tooltip8 {
        left: 3%;
        bottom: 49%;
        width: 180px;
    }

    .tooltip .tooltip9 {
        left: 33%;
        bottom: -108%;
        width: 260px;
    }

    .tooltip .tooltip10 {
        left: 1%;
        bottom: 39%;
        width: 235px;
    }

    .tooltip .tooltip11 {
        left: 4%;
        bottom: 71%;
        width: 210px;
    }

    .tooltip .tooltip12 {
        left: 3%;
        bottom: 42%;
        width: 325px;
    }

    .tooltip .tooltip13 {
        left: 7%;
        bottom: 67%;
        width: 349px;
    }

    .tooltip .tooltip14 {
        left: 3%;
        bottom: 44%;
        width: 350px;
    }

    .tooltip .tooltip15 {
        left: 31%;
        bottom: 72%;
        width: 255px;
    }

    .tooltip .tooltip16 {
        left: 3%;
        bottom: 18%;
        width: 255px;
    }

    .tooltip .tooltip17 {
        left: 10%;
        bottom: 61%;
        width: 320px;
    }

    .tooltip .tooltip18 {
        left: 17%;
        bottom: 39%;
        width: 300px;
    }

    .tooltip .tooltip19 {
        left: 3%;
        bottom: 55%;
        width: 260px;
    }

    .tooltip .tooltip20 {
        left: 14%;
        bottom: 35%;
        width: 305px;
    }

    .tooltip .tooltip21 {
        left: 3%;
        bottom: 42%;
        width: 260px;
    }

    .tooltip .tooltip22 {
        left: 18%;
        bottom: 10%;
        width: 320px;
    }

    .tooltip .tooltip23 {
        left: 12%;
        bottom: 15%;
        width: 320px;
    }

    .tooltip .tooltip24 {
        right: 5%;
        bottom: 125%;
        width: 373px;
    }

    .tooltip .tooltip25 {
        top: -40%;
        width: 125px;
    }
}

/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas com largura de 376 a 390px */
@media (max-width:390px) {

    .pagina {
        max-width: 384px;
    }

    #perfil {
        width: 429%;
        object-position: -121px;
    }

    h4 {
        font-size: 1.7rem;
    }

    #imgQ4 {
        width: 752%;
    }

    #imgQ5 {
        width: 820%;
    }

    #imgQ6 {
        width: 648%;
        height: 440px;
    }

    #quadro13 {
        grid-template-columns: 41% 9% 50%;
    }

    #caixa-texto-quadro13B {
        grid-area: 2 / 2 / span 1 / span 2;
        text-align: end;
    }

    #imgQ13 {
        grid-area: 2 / 1 / span 1 / span 2;
        position: absolute;
        bottom: 0;
    }

    #caixa-texto-quadro16C {
        padding: 1% 5% 0 0%;
    }

    #quadro15 {
        grid-template-columns: 63% 37%;
    }

    #imgQ15 {
        position: absolute;
        bottom: 0;
        height: 100%;
    }

    #quadro16 {
        grid-template-columns: 41% 59%;
    }

    #quadro18 {
        grid-template-rows: auto 140px;
    }

    #caixa-texto-quadro18B {
        padding: 0 8% 0 3%;
    }

    #imgQ18 {
        width: 106%;
        position: absolute;
        bottom: 0;
    }

    .tooltip .tooltip1 {
        left: 27%;
        bottom: 43%;
    }

    .tooltip .tooltip2 {
        left: 21%;
        width: 290px;
    }

    .tooltip .tooltip3 {
        left: 22%;
        bottom: 8%;
    }

    .tooltip .tooltip4 {
        left: 11%;
        bottom: 38%;
    }

    .tooltip .tooltip5 {
        left: -24%;
        bottom: 6%;
    }

    .tooltip .tooltip6 {
        left: 4%;
        bottom: 35%;
        width: 310px;
    }

    .tooltip .tooltip7 {
        left: 5%;
        bottom: 15%;
    }

    .tooltip .tooltip8 {
        left: 17%;
        bottom: 56%;
        width: 160px;
    }

    .tooltip .tooltip9 {
        left: 5%;
        bottom: -68%;
        width: 335px;
    }

    .tooltip .tooltip10 {
        left: -14%;
        bottom: 40%;
    }

    .tooltip .tooltip11 {
        left: 3%;
        bottom: 68%;
    }

    .tooltip .tooltip12 {
        left: 7%;
        bottom: 41%;
    }

    .tooltip .tooltip13 {
        left: 4%;
        bottom: 64%;
    }

    .tooltip .tooltip14 {
        left: 4%;
        bottom: 42%;
    }

    .tooltip .tooltip15 {
        left: 23%;
        bottom: 76%;
    }

    .tooltip .tooltip16 {
        left: 3%;
        bottom: 24%;
    }

    .tooltip .tooltip17 {
        left: 8%;
        bottom: 63%;
    }

    .tooltip .tooltip18 {
        left: 4%;
        bottom: 37%;
    }

    .tooltip .tooltip19 {
        left: 4%;
        bottom: 53%;
        width: 250px;
    }

    .tooltip .tooltip20 {
        left: 10%;
        bottom: 36%;
    }

    .tooltip .tooltip21 {
        left: 3%;
        bottom: 43%;
    }

    .tooltip .tooltip22 {
        left: 4%;
        bottom: 0%;
    }

    .tooltip .tooltip24 {
        width: 351px;
    }
}

/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas com largura até 375px */
@media (max-width:375px) {
    .pagina {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    #perfil {
        width: 459%;
    }

    #caixa-texto-quadro1 {
        padding: 0 3%;
    }

    h4 {
        margin-top: 2%;
        font-size: 1.6rem;
    }

    #imgQ6 {
        width: 700%;
    }

    #quadro13 {
        grid-template-columns: 37% 8% 55%;
    }

    #imgQ13 {
        width: 93%;
    }

    .tooltip .tooltip1 {
        left: 27%;
        bottom: 45%;
    }

    .tooltip .tooltip2 {
        left: 26%;
        bottom: 31%;
        width: 270px;
    }

    .tooltip .tooltip3 {
        left: 27%;
        bottom: 8%;
        width: 261px;
    }

    .tooltip .tooltip4 {
        left: 10%;
        bottom: 36%;
    }

    .tooltip .tooltip5 {
        left: -27%;
        bottom: 6%;
        width: 280px;
    }

    .tooltip .tooltip6 {
        left: 4%;
        bottom: 35%;
        width: 300px;
    }

    .tooltip .tooltip7 {
        left: 4%;
        bottom: 15%;
        width: 300px;
    }

    .tooltip .tooltip8 {
        left: 2%;
        bottom: 50%;
    }

    .tooltip .tooltip9 {
        left: 5%;
        bottom: -61%;
        width: 330px
    }

    .tooltip .tooltip10 {
        left: 1%;
        bottom: 39%;
        width: 217px;
    }

    .tooltip .tooltip11 {
        left: 33%;
        bottom: 71%;
        width: 195px;
    }

    .tooltip .tooltip12 {
        left: 9%;
        bottom: 43%;
        width: 294px;
    }

    .tooltip .tooltip13 {
        left: 4%;
        bottom: 63%;
        width: 275px;
    }

    .tooltip .tooltip14 {
        left: 10%;
        bottom: 44%;
        width: 315px;
    }

    .tooltip .tooltip15 {
        left: 21%;
        bottom: 77%;
    }

    .tooltip .tooltip16 {
        left: 3%;
        bottom: 61%;
    }

    .tooltip .tooltip17 {
        left: 6%;
        bottom: 69%;
    }

    .tooltip .tooltip18 {
        left: 4%;
        bottom: 38%;
        width: 279px;
    }

    .tooltip .tooltip19 {
        left: 28%;
        bottom: 57%;
        width: 240px;
    }

    .tooltip .tooltip20 {
        left: 4%;
        bottom: 35%;
    }

    .tooltip .tooltip21 {
        left: 2%;
        bottom: 44%;
    }

    .tooltip .tooltip22 {
        left: 3%;
        bottom: 4%;
    }

    .tooltip .tooltip24 {
        width: 340px;
    }
}

/* determina telas com largura até 360px */
@media (max-width:360px) {
    #perfil {
        width: 409%;
        object-position: -126px;
    }

    h4 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 2.6rem;
        margin: 3% 0;
    }

    #imgQ6 {
        width: 755%;
        height: auto;
    }

    #caixa-texto-quadro9C {
        padding: 1% 12% 1% 12%;
        font-size: 16px;
    }

    #caixa-texto-quadro13B {
        padding: 1% 6% 0 7%;
    }

    #imgQ13 {
        width: 114%;
    }

    #quadro15 {
        grid-template-columns: 66% 34%;
    }

    #imgQ15 {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .tooltip .tooltip1 {
        left: 24%;
        bottom: 45%;
    }

    .tooltip .tooltip2 {
        left: 23%;
        bottom: 31%;
    }

    .tooltip .tooltip3 {
        left: 24%;
        bottom: 8%;
    }

    .tooltip .tooltip4 {
        left: 8%;
        bottom: 40%;
    }

    .tooltip .tooltip5 {
        left: -29%;
        bottom: 6%;
    }

    .tooltip .tooltip6 {
        left: 3%;
        bottom: 36%;
    }

    .tooltip .tooltip7 {
        left: 7%;
        bottom: 15%;
    }

    .tooltip .tooltip8 {
        left: 14%;
        bottom: 56%;
    }

    .tooltip .tooltip9 {
        left: 4%;
        bottom: -62%;
    }

    .tooltip .tooltip10 {
        left: 0;
        bottom: 41%;
    }

    .tooltip .tooltip11 {
        left: 3%;
        bottom: 68%;
    }

    .tooltip .tooltip12 {
        left: 3%;
        bottom: 42%;
    }

    .tooltip .tooltip13 {
        left: 12%;
        bottom: 29%;
    }

    .tooltip .tooltip14 {
        left: 5%;
        bottom: 42%;
    }

    .tooltip .tooltip15 {
        left: 20%;
        bottom: 76%;
    }

    .tooltip .tooltip16 {
        bottom: 60%;
    }

    .tooltip .tooltip17 {
        left: 5%;
        bottom: 69%;
    }

    .tooltip .tooltip18 {
        left: 3%;
        bottom: 60%;
    }

    .tooltip .tooltip19 {
        left: 3%;
        bottom: 54%;
    }

    .tooltip .tooltip20 {
        left: 7%;
        bottom: 38%;
    }

    .tooltip .tooltip21 {
        left: 10%;
        bottom: 42%;
    }

    .tooltip .tooltip22 {
        left: 4%;
        bottom: 5%;
    }

    .tooltip .tooltip23 {
        left: 5%;
        bottom: 14%;
    }

    .tooltip .tooltip24 {
        width: 328px;
    }
}

/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas em LANDSCAPE com altura entre 415 a 428 px */
@media (orientation: landscape) and (max-height: 428px) {

    #quadro1 {
        height: 100vh;
    }

    #perfil {
        width: 450%;
    }

    #caixa-texto-quadro1 {
        padding: 0 3% 0 3%;
        line-height: 2.5rem;
        margin-top: auto;
        margin-bottom: auto;
    }

    h2 {
        font-size: 4rem;
        line-height: 0.5em;
        margin-left: 2%;
        padding-top: 2%;
    }

    h3 {
        font-size: 1.9rem;
    }

    #quadro2 {
        height: 100vh;
        position: relative;
        display: table-cell;
        vertical-align: middle;
    }

    #caixa-texto-quadro2 {
        padding: 0 4%;
        line-height: 2.7rem;
    }

    #quadro3 {
        height: 100vh;
        position: relative;
    }

    #caixa-texto-quadro3 {
        line-height: 2.7rem;
    }

    #imgQ3 {
        position: absolute;
        bottom: 0;
    }

    #quadro4 {
        height: 100vh;
    }

    #caixa-texto-quadro4 {
        line-height: 2.6rem;
        padding: 0 4% 0 3%;
        margin-top: auto;
        margin-bottom: auto;
    }

    #imgQ4 {
        width: 510%;
    }

    #quadro5 {
        height: 100vh;
    }

    #caixa-texto-quadro5 {
        line-height: 2.6rem;
        padding: 0 4% 0 3%;
        margin-top: auto;
        margin-bottom: auto;
    }

    #imgQ5 {
        width: 526%;
    }

    #quadro6 {
        height: 100vh;
    }

    #caixa-texto-quadro6 {
        line-height: 2.5rem;
        padding: 0 3% 0 4%;
        margin-top: auto;
        margin-bottom: auto;
    }

    #imgQ6 {
        width: 419%;
        height: 100%;
    }

    #imgQ6-7 {
        height: 100vh;
    }

    #quadro7 {
        height: 100vh;
        display: table-cell;
        vertical-align: middle;
    }

    #caixa-texto-quadro7 {
        padding: 0 4% 0 5%;
    }

    #quadro8 {
        height: 100vh;
        display: flex;
    }

    #caixa-texto-quadro8 {
        line-height: 2.7rem;
        padding: 0 3% 0 4%;
        margin-top: auto;
        margin-bottom: auto;
    }

    #quadro9 {
        height: 100vh;
    }

    #imgQ9 {
        height: 64vh;
        position: absolute;
        bottom: 0;
        z-index: 1;
    }

    #caixa-texto-quadro9 {
        padding: 1% 4% 0 4%;
        line-height: 2.3rem;
        z-index: 2;
    }

    #quadro10 {
        height: 100vh;
        display: table-cell;
        vertical-align: middle;
    }

    #caixa-texto-quadro10 {
        line-height: 2.7rem;
        padding: 0 4%;
    }

    #quadro11 {
        height: 100vh;
    }

    #caixa-texto-quadro11 {
        line-height: 2.2rem;
        padding: 1% 4% 0 4%;
        position: relative;
    }

    #imgQ11 {
        height: 65%;
        position: absolute;
        bottom: 0;
    }

    #quadro12 {
        height: 100vh;
    }

    #caixa-texto-quadro12 {
        line-height: 2.4rem;
        padding: 0 4%;
    }

    #imgQ12 {
        position: absolute;
        bottom: 0;
    }

    #quadro13 {
        height: 100vh;
        grid-template-columns: 30% 10% 60%;
        grid-template-rows: 37vh 41vh 22vh;
    }

    #caixa-texto-quadro13A {
        line-height: 2.5rem;
        padding: 0 4%;
        margin-top: auto;
        margin-bottom: auto;
    }

    #caixa-texto-quadro13B {
        line-height: 2.5rem;
        padding: 0 4%;
    }

    #quadro14 {
        height: 100vh;
        display: table-cell;
        vertical-align: middle;
    }

    #caixa-texto-quadro14 {
        padding: 0 4%;
        line-height: 2.5rem;
    }

    #quadro15 {
        height: 100vh;
        grid-template-columns: 72% 28%;
        grid-auto-rows: 44vh 56vh;
    }

    #caixa-texto-quadro15A {
        line-height: 2.5rem;
    }

    #caixa-texto-quadro15B {
        line-height: 2.5rem;
        padding: 0 9% 0 6%;
    }

    #imgQ15 {
        height: 100%;
    }

    #quadro16 {
        height: 100vh;
    }

    #caixa-texto-quadro16B {
        padding: 1% 4% 0 36%;
    }

    #caixa-texto-quadro16C {
        padding: 1% 4% 0 0%;
        grid-area: 3 / 1 / span 1 / span 2;
        font-size: 16px;
    }

    #imgQ16 {
        width: 89%;
    }

    #quadro17 {
        height: 100vh;
        display: table-cell;
        vertical-align: middle;
    }

    #caixa-texto-quadro17 {
        line-height: 2.7rem;
        padding: 0 4%;
    }

    #quadro18 {
        height: 100vh;
        position: relative;
        grid-template-rows: 50vh 50vh;
    }

    #caixa-texto-quadro18 {
        line-height: 2.3rem;
        padding: 1% 4% 0 4%;
    }

    #imgQ18 {
        position: absolute;
        bottom: 0;
        width: 80%;
    }

    #quadro19 {
        height: 100vh;
    }

    #caixa-texto-quadro19 {
        line-height: 2.3rem;
        padding: 1% 4% 0 4%;
    }

    #imgQ19 {
        width: 100%;
    }

    #quadro20 {
        height: 100vh;
        margin: 9%;
        padding-top: 1%;
    }

    #titulo {
        display: none;
    }

    .opcoes {
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1%;
    }

    .opcao {
        width: 90%;
    }

    .opcao-nula {
        scale: 90%;
    }

    #fonte {
        bottom: 27vh;
    }

    .tooltip .tooltip1 {
        left: 43%;
        bottom: 38%;
    }

    .tooltip .tooltip2 {
        left: 40%;
        bottom: 35%;
    }

    .tooltip .tooltip3 {
        left: 39%;
        bottom: 12%;
    }

    .tooltip .tooltip4 {
        left: 7%;
        bottom: 13%;
    }

    .tooltip .tooltip5 {
        left: 5%;
        bottom: 9%;
    }

    .tooltip .tooltip6 {
        left: 5%;
        bottom: 35%;
    }

    .tooltip .tooltip7 {
        left: 4%;
        bottom: 16%;
    }

    .tooltip .tooltip8 {
        left: 51%;
        bottom: 5%;
        width: 350px;
    }

    .tooltip .tooltip9 {
        left: 20%;
        bottom: -68%;
        width: 412px;
    }

    .tooltip .tooltip10 {
        left: 3%;
        bottom: 47%;
    }

    .tooltip .tooltip11 {
        left: 4%;
        bottom: 71%;
        width: 360px;
    }

    .tooltip .tooltip12 {
        left: 39%;
        bottom: 30%;
    }

    .tooltip .tooltip13 {
        left: 48%;
        bottom: 19%;
    }

    .tooltip .tooltip14 {
        left: 13%;
        bottom: 45%;
    }

    .tooltip .tooltip15 {
        left: 13%;
        bottom: 68%;
    }

    .tooltip .tooltip16 {
        left: 8%;
        bottom: 19%;
    }

    .tooltip .tooltip17 {
        left: 25%;
        bottom: 53%;
    }

    .tooltip .tooltip18 {
        left: 4%;
        bottom: 27%;
    }

    .tooltip .tooltip19 {
        left: 27%;
        bottom: 57%;
    }

    .tooltip .tooltip20 {
        left: 40%;
        bottom: 37%;
    }

    .tooltip .tooltip21 {
        left: 48%;
        bottom: 25%;
    }

    .tooltip .tooltip22 {
        left: 26%;
        bottom: -23%;
    }

    .tooltip .tooltip23 {
        left: 10%;
        bottom: 18%;
        width: 426px;
    }

    .tooltip .tooltip24 {
        right: 4%;
        bottom: 100%;
        width: 732px;
    }

    .tooltip .tooltip25 {
        top: -8%;
        width: 200px;
    }

    #tela-final {
        position: relative;
        height: 100vh;
    }

    #mensagem-final-ca {
        position: absolute;
        bottom: 0;
    }
}


/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas em LANDSCAPE com altura entre 391 a 414 px */
@media (orientation: landscape) and (max-height: 414px) {

    #quadro13 {
        grid-template-rows: 36vh 41vh 23vh;
    }

    #caixa-texto-quadro13A {
        padding: 1% 4% 0 4%;
    }

    #caixa-texto-quadro13B {
        margin-top: auto;
        margin-bottom: auto;
    }

    #caixa-texto-quadro13C {
        padding: 1% 4% 0 4%;
        line-height: 2.6rem;
    }

    #caixa-texto-quadro16B {
        padding: 0 4% 0 36%;
    }

    #caixa-texto-quadro16C {
        padding: 0 4% 0 0;
    }

    #quadro20 {
        margin: 10%;
    }

    #fonte {
        bottom: 30vh;
    }

    .tooltip .tooltip2 {
        bottom: 34%;
    }

    .tooltip .tooltip3 {
        bottom: 10%;
    }

    .tooltip .tooltip9 {
        bottom: -65%;
    }

    .tooltip .tooltip10 {
        bottom: 38%;
    }

    .tooltip .tooltip15 {
        bottom: 66%;
    }

    .tooltip .tooltip16 {
        bottom: 18%;
    }

    .tooltip .tooltip19 {
        bottom: 55%;
    }

    .tooltip .tooltip20 {
        left: 39%;
        bottom: 34%;
    }

    .tooltip .tooltip21 {
        left: 44%;
        bottom: 22%;
    }

    .tooltip .tooltip24 {
        line-height: 1.05em;
    }
}

/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em LANDSCAPE com altura de 376 a 390px */
@media (orientation: landscape) and (max-height: 390px) {

    #perfil {
        width: 397%;
    }

    hr {
        margin: 1% auto;
    }

    #caixa-texto-quadro2 {
        line-height: 2.5rem;
    }

    #caixa-texto-quadro3 {
        line-height: 2.4rem;
    }

    #caixa-texto-quadro4 {
        line-height: 2.4rem;
    }

    #imgQ4 {
        width: 495%;
    }

    #caixa-texto-quadro5 {
        line-height: 2.4rem;
    }

    #caixa-texto-quadro6 {
        padding: 0 3% 0 4%;
        line-height: 2.4rem;
    }

    #imgQ6 {
        width: auto;
    }

    #caixa-texto-quadro7 {
        padding: 0 5%;
        line-height: 2.5rem;
    }

    #caixa-texto-quadro9 {
        line-height: 2.1rem;
    }

    #imgQ11 {
        height: 73vh;
    }

    #caixa-texto-quadro10 {
        line-height: 2.6rem;
    }

    #caixa-texto-quadro11 {
        padding: 1% 3% 0 3%;
    }

    #imgQ11 {
        height: 68vh;
    }

    #caixa-texto-quadro12 {
        line-height: 2rem;
        padding: 0 3%;
    }

    #imgQ12 {
        height: 73vh;
    }

    #quadro13 {
        grid-template-columns: 35% 2% 63%;
        grid-template-rows: 39vh 38vh 23vh;
    }

    #caixa-texto-quadro13A {
        line-height: 2.4rem;
        padding: 1% 4% 0 4%;
    }

    #caixa-texto-quadro13B {
        line-height: 2.4rem;
    }

    #caixa-texto-quadro13C {
        line-height: 2.4rem;
    }

    #caixa-texto-quadro14 {
        line-height: 2.3rem;
    }

    #quadro15 {
        grid-auto-rows: 46vh 54vh;
    }

    #caixa-texto-quadro15A {
        line-height: 2.4rem;
        padding: 2% 1% 0 4%;
    }

    #caixa-texto-quadro15B {
        line-height: 2.4rem;
        padding: 1% 1% 0 4%;
    }

    #caixa-texto-quadro16B {
        font-size: 22px;
    }

    #imgQ16 {
        width: 85%;
    }

    #caixa-texto-quadro17 {
        line-height: 2.5rem;
    }

    #caixa-texto-quadro18A {
        line-height: 2.2rem;
    }

    #imgQ18 {
        width: 80%;
    }

    #caixa-texto-quadro19 {
        line-height: 2.1rem;
    }

    #imgQ19 {
        width: 96%;
    }

    #quadro20 {
        margin: 13%;
    }

    #fonte {
        bottom: 38vh;
    }

    .tooltip .tooltip1 {
        left: 55%;
        bottom: 35%;
    }

    .tooltip .tooltip2 {
        left: 35%;
        bottom: 31%;
    }

    .tooltip .tooltip3 {
        left: 43%;
        bottom: 12%;
    }

    .tooltip .tooltip4 {
        left: 7%;
        bottom: 6%;
    }

    .tooltip .tooltip5 {
        left: 21%;
        bottom: 9%;
        width: 375px;
    }

    .tooltip .tooltip6 {
        left: 20%;
        bottom: 38%;
    }

    .tooltip .tooltip7 {
        left: 21%;
        bottom: 16%;
    }

    .tooltip .tooltip8 {
        left: 17%;
        bottom: -3%;
    }

    .tooltip .tooltip9 {
        left: 4%;
        bottom: -87%;
    }

    .tooltip .tooltip10 {
        left: 3%;
        bottom: 39%;
    }

    .tooltip .tooltip11 {
        left: 4%;
        bottom: 71%;
    }

    .tooltip .tooltip12 {
        left: 40%;
        bottom: 27%;
    }

    .tooltip .tooltip13 {
        left: 48%;
        bottom: 15%;
    }

    .tooltip .tooltip14 {
        left: 12%;
        bottom: 46%;
        width: 425px;
    }

    .tooltip .tooltip15 {
        left: 11%;
        bottom: 62%;
    }

    .tooltip .tooltip16 {
        left: 2%;
        bottom: 12%;
    }

    .tooltip .tooltip17 {
        left: 25%;
        bottom: 49%;
    }

    .tooltip .tooltip18 {
        left: 4%;
        bottom: 25%;
    }

    .tooltip .tooltip19 {
        left: 12%;
        bottom: 57%;
    }

    .tooltip .tooltip20 {
        left: 39%;
        bottom: 35%;
    }

    .tooltip .tooltip21 {
        left: 44%;
        bottom: 29%;
    }

    .tooltip .tooltip22 {
        left: 26%;
        bottom: -32%;
    }

    .tooltip .tooltip24 {
        bottom: 93%;
        line-height: 1em;
    }

    .tooltip .tooltip25 {
        top: -12%;
    }
}

/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em LANDSCAPE com altura de até 375 px */
@media (orientation: landscape) and (max-height: 375px) {

    .pagina {
        max-width: 667px;
        font-size: 1.8rem;
    }

    #perfil {
        object-fit: cover;
        width: 465%;
    }

    h4 {
        font-size: 2.5rem;
    }

    hr {
        margin: 2% auto;
    }

    #caixa-texto-quadro1 {
        line-height: 2.1rem;
    }

    #caixa-texto-quadro2 {
        line-height: 2.3rem;
        padding: 0 3%;
    }

    #caixa-texto-quadro3 {
        line-height: 2.2rem;
    }

    #imgQ3 {
        height: 38vh;
    }

    #caixa-texto-quadro4 {
        line-height: 2.2rem;
    }

    #caixa-texto-quadro5 {
        line-height: 2.1rem;
    }

    #caixa-texto-quadro6 {
        line-height: 2rem;
        padding: 0 4%;
    }

    #imgQ6 {
        width: 560%;
        height: auto;
    }

    #caixa-texto-quadro7 {
        padding: 0 4%;
        line-height: 2.3rem;
    }

    #caixa-texto-quadro8 {
        padding: 0 4%;
        line-height: 2.4rem;
    }

    #caixa-texto-quadro9 {
        line-height: 2rem;
    }

    #imgQ9 {
        height: 60vh;
    }

    #caixa-texto-quadro10 {
        line-height: 2.3rem;
    }

    #caixa-texto-quadro11 {
        line-height: 1.9rem;
    }

    #imgQ11 {
        height: 67vh;
    }

    #caixa-texto-quadro12 {
        line-height: 2.1rem;
        padding: 0 4%;
    }

    #imgQ12 {
        height: 70vh;
    }

    #quadro13 {
        grid-template-columns: 25% 12% 63%;
        grid-template-rows: 39vh 40vh 21vh;
    }

    #caixa-texto-quadro13 {
        line-height: 2.2rem;
    }

    #imgQ13 {
        position: absolute;
        bottom: 0;
        width: 110%;
    }

    #caixa-texto-quadro13A {
        text-align: end;
    }

    #caixa-texto-quadro13B {
        text-align: end;
    }

    #caixa-texto-quadro13C {
        line-height: 2.2rem;
    }

    #caixa-texto-quadro14 {
        padding: 0 3%;
        line-height: 2.1rem;
    }

    #imgQ14 {
        height: 73vh;
    }

    #quadro15 {
        grid-auto-rows: 45vh 55vh;
        grid-template-columns: 77% 23%;
    }

    #caixa-texto-quadro15A {
        line-height: 2.3rem;
        padding: 2% 1% 0 4%;
    }

    #caixa-texto-quadro15B {
        line-height: 2.3rem;
        padding: 1% 0 0 4%;
    }

    #quadro16 {
        grid-template-columns: 43% 57%;
    }

    #caixa-texto-quadro16B {
        font-size: 20px;
        line-height: 2.4rem;
        padding: 0 3% 0 31%;
    }

    #caixa-texto-quadro16C {
        padding: 0 4% 0 63%;
        line-height: 2.4rem;
    }

    #imgQ16 {
        width: 95%;
    }

    #caixa-texto-quadro17 {
        line-height: 2.3rem;
        padding: 0 2% 0 3%;
    }

    #imgQ17 {
        width: 100%;
    }

    #caixa-texto-quadro18 {
        line-height: 2.2rem;
    }

    #caixa-texto-quadro19 {
        line-height: 2.4rem;
    }

    #imgQ19 {
        width: 100%;
    }

    #quadro20 {
        margin: 7%;
    }

    #fonte {
        bottom: 22vh;
    }

    .tooltip .tooltip1 {
        left: 50%;
        bottom: 36%;
        width: 285px;
    }

    .tooltip .tooltip2 {
        left: 37%;
        bottom: 30%;
        width: 335px;
    }

    .tooltip .tooltip3 {
        left: 44%;
        bottom: 14%;
    }

    .tooltip .tooltip4 {
        left: 23%;
        bottom: 16%;
    }

    .tooltip .tooltip5 {
        left: 11%;
        bottom: 9%;
        width: 335px;
    }

    .tooltip .tooltip6 {
        left: 6%;
        bottom: 36%;
    }

    .tooltip .tooltip7 {
        left: 6%;
        bottom: 16%;
        width: 405px;
    }

    .tooltip .tooltip8 {
        left: 43%;
        bottom: 3%;
        width: 320px;
    }

    .tooltip .tooltip9 {
        left: 10%;
        bottom: -47%;
        width: 430px;
    }

    .tooltip .tooltip10 {
        left: 3%;
        bottom: 40%;
        width: 330px;
    }

    .tooltip .tooltip11 {
        left: 28%;
        bottom: 73%;
    }

    .tooltip .tooltip12 {
        left: 27%;
        bottom: 67%;
    }

    .tooltip .tooltip13 {
        left: 40%;
        bottom: 14%;
        width: 340px;
    }

    .tooltip .tooltip14 {
        left: 2%;
        bottom: 44%;
        width: 395px;
    }

    .tooltip .tooltip15 {
        left: 24%;
        bottom: 65%;
    }

    .tooltip .tooltip16 {
        left: 12%;
        bottom: 11%;
        width: 300px;
    }

    .tooltip .tooltip17 {
        left: 24%;
        bottom: 59%;
    }

    .tooltip .tooltip18 {
        left: 42%;
        bottom: 30%;
        width: 350px;
    }

    .tooltip .tooltip19 {
        left: 49%;
        bottom: 59%;
        width: 290px;
    }

    .tooltip .tooltip20 {
        left: 4%;
        bottom: 31%;
    }

    .tooltip .tooltip21 {
        left: 27%;
        bottom: 54%;
    }

    .tooltip .tooltip22 {
        left: 37%;
        bottom: -11%;
    }

    .tooltip .tooltip24 {
        bottom: 100%;
        line-height: 1.03em;
        right: 1%;
        width: 654px;
    }
}

/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em LANDSCAPE com altura de até 360 px */
@media (orientation: landscape) and (max-height: 360px) {
    .pagina {
        max-width: 640px;
        font-size: 1.7rem;
    }

    #perfil {
        width: 500%;
    }

    h4 {
        font-size: 2.3rem;
    }

    #caixa-texto-quadro1 {
        line-height: 2rem;
    }

    #caixa-texto-quadro2 {
        line-height: 2.2rem;
        padding: 0 4%;
    }

    #caixa-texto-quadro3 {
        line-height: 2.2rem;
    }

    #imgQ3 {
        height: 35vh;
    }

    #caixa-texto-quadro4 {
        line-height: 2.2rem;
    }

    #caixa-texto-quadro5 {
        line-height: 2rem;
    }

    #imgQ5 {
        width: 550%;
    }

    #caixa-texto-quadro6 {
        line-height: 2rem;
        padding: 0 2% 0 3%;
    }

    #imgQ6 {
        width: 490%;
    }

    #caixa-texto-quadro7 {
        line-height: 2.2rem;
        padding: 0 4%;
    }

    #caixa-texto-quadro8 {
        line-height: 2.2rem;
        padding: 0 4%;
    }

    #caixa-texto-quadro9 {
        line-height: 2rem;
    }

    #imgQ9 {
        height: 59%;
    }

    #caixa-texto-quadro10 {
        line-height: 2.3rem;
    }

    #imgQ11 {
        height: 65vh;
    }

    #quadro13 {
        grid-template-columns: 17% 14% 69%;
        grid-template-rows: 38vh 39vh 23vh;
    }

    #caixa-texto-quadro13A {
        line-height: 2.2rem;
        padding: 1% 4% 0 18%;
    }

    #caixa-texto-quadro13B {
        padding: 0 4% 0 13%;
    }

    #imgQ13 {
        width: 130%;
    }

    #caixa-texto-quadro14 {
        line-height: 2.1rem;
    }

    #quadro15 {
        grid-auto-rows: 45vh 55vh;
        grid-template-columns: 71% 29%;
    }

    #caixa-texto-quadro15A {
        line-height: 2rem;
        padding: 1% 5% 0 4%;
    }

    #caixa-texto-quadro15B {
        line-height: 2rem;
        padding: 1% 5% 0 4%;
    }

    #caixa-texto-quadro16B {
        padding: 0 3% 0 29%;
        font-size: 19px;
        line-height: 2.3rem;
    }

    #caixa-texto-quadro16C {
        padding: 0 4% 0 62%;
    }

    #caixa-texto-quadro17 {
        line-height: 2.2rem;
        padding: 0 3% 0 3%;
    }

    #caixa-texto-quadro18 {
        line-height: 2.1rem;
    }

    #caixa-texto-quadro19 {
        line-height: 2.2rem;
    }

    #imgQ19 {
        width: 94%;
    }

    #quadro20 {
        margin: 7%;
    }

    h3 {
        font-size: 1.8rem;
    }

    .tooltip .tooltip1 {
        left: 49%;
        bottom: 39%;
    }

    .tooltip .tooltip2 {
        left: 37%;
        bottom: 33%;
    }

    .tooltip .tooltip3 {
        left: 39%;
        bottom: 11%;
        width: 290px;
    }

    .tooltip .tooltip4 {
        left: 23%;
        bottom: 19%;
        width: 365px;
    }

    .tooltip .tooltip5 {
        left: 6%;
        bottom: 9%;
    }

    .tooltip .tooltip6 {
        left: 3%;
        bottom: 38%;
    }

    .tooltip .tooltip7 {
        left: 3%;
        bottom: 16%;
    }

    .tooltip .tooltip8 {
        left: 31%;
        bottom: 5%;
        width: 320px;
    }

    .tooltip .tooltip9 {
        left: 16%;
        bottom: -65%;
    }

    .tooltip .tooltip10 {
        left: 13%;
        bottom: -21%;
    }

    .tooltip .tooltip11 {
        left: 17%;
        bottom: 71%;
        width: 230px;
    }

    .tooltip .tooltip12 {
        left: 2%;
        bottom: 29%;
    }

    .tooltip .tooltip13 {
        left: 16%;
        bottom: 12%;
    }

    .tooltip .tooltip14 {
        left: 21%;
        bottom: 46%;
    }

    .tooltip .tooltip15 {
        left: 7%;
        bottom: 67%;
    }

    .tooltip .tooltip16 {
        left: 14%;
        bottom: 12%;
    }

    .tooltip .tooltip17 {
        left: 24%;
        bottom: 60%;
    }

    .tooltip .tooltip18 {
        left: 21%;
        bottom: 31%;
    }

    .tooltip .tooltip19 {
        left: 47%;
    }

    .tooltip .tooltip20 {
        left: 4%;
        bottom: 31%;
        width: 350px;
    }

    .tooltip .tooltip21 {
        left: 16%;
        bottom: 51%;
        width: 295px;
    }

    .tooltip .tooltip22 {
        left: 21%;
        bottom: -3%;
    }

    .tooltip .tooltip23 {
        left: 5%;
        bottom: 19%;
        width: 375px;
    }

    .tooltip .tooltip24 {
        line-height: 1.04em;
        right: 2%;
        width: 618px;
    }
}