* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens-fred/pano-de-fundo.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

hr {
    border-color: rgb(70, 7, 3);
    border-width: 3px;
    box-shadow: 2px 3px 2px rgb(78, 95, 95);
    margin: 2% auto;
    width: 100%;
}

h4 {
    /* título */
    font-size: 3rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}

#quadro1 {
    display: flex;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#perfil {
    width: 263%;
    object-fit: cover;
}

#caixa-texto-quadro1 {
    padding: 2% 4% 0 2%;
    text-align: justify;
}

p {
    margin: 0 11%;
}

#quadro2 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 72% 28%;
}

#caixa-texto-quadro2A {
    padding: 1% 0 0 6%;
    grid-area: 1 / 1 / span 1 / span 1;
}

#caixa-texto-quadro2B {
    padding: 0 7% 0 5%;
    grid-area: 2 / 1 / span 1 / span 1;
}

#caixa-texto-quadro2C {
    padding: 0 4%;
    text-align: justify;
    grid-area: 3 / 1 / span 1 / span 2;
}

#imgQ2 {
    grid-area: 1 / 2 / span 2 / span 1;
    width: 123%;
    position: absolute;
    bottom: 0;
    right: 0;
}

#quadro3 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro3 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#quadro4 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro4 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#quadro5 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro5 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ5 {
    width: 100%;
}

#quadro6 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 72% 28%;
    grid-auto-rows: 204px 145px 120px;
}

#caixa-texto-quadro6A {
    grid-area: 1 / 1 / span 1 / span 2;
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#caixa-texto-quadro6B {
    grid-area: 2 / 1 / span 1 / span 1;
    padding: 1% 7% 0 7%;
    text-align: justify;
}

#caixa-texto-quadro6C {
    grid-area: 3 / 1 / span 1 / span 1;
    padding: 1% 0 0 6%;
    text-align: justify;
}

#imgQ6 {
    grid-area: 2 / 2 / span 2 / span 1;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#quadro7 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 72% 28%;
}

#caixa-texto-quadro7A {
    padding: 1% 4% 0 4%;
    grid-area: 1 / 1 / span 1 / span 2;
}

#caixa-texto-quadro7B {
    padding: 0 2% 0 5%;
    text-align: justify;
    grid-area: 2 / 1 / span 1 / span 1;
}

#caixa-texto-quadro7C {
    padding: 0 2% 0 5%;
    text-align: justify;
    grid-area: 3 / 1 / span 1 / span 1;
}

#imgQ7 {
    width: 100%;
    height: 100%;
    grid-area: 2 / 2 / span 2 / span 1;
    position: absolute;
    bottom: 0;
}

#quadro8 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 22% 56% 22%;
}

#caixa-texto-quadro8 {
    grid-area: 1 / 2 / span 1 / span 1;
    text-align: justify;
    padding: 1%;
}

#imgQ8A {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

#imgQ8B {
    grid-area: 1 / 3 / span 1 / span 1;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

#quadro9 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro9 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ9 {
    width: 100%;
}

#quadro10 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 30% 70%;
}

#caixa-texto-quadro10A {
    text-align: justify;
    padding: 1% 4% 0 4%;
    grid-area: 1 / 1 / span 1 / span 2;
}

#caixa-texto-quadro10B {
    text-align: justify;
    padding: 1% 6% 0 0;
    grid-area: 2 / 2 / span 1 / span 1;
}

#caixa-texto-quadro10C {
    text-align: justify;
    padding: 0 6% 0 0;
    grid-area: 3 / 2 / span 1 / span 1;
}

#imgQ10 {
    width: 120%;
    grid-area: 2 / 1 / span 2 / span 1;
    position: absolute;
    bottom: 0;
}

#quadro11 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 290px 180px;
}

#caixa-texto-quadro11A {
    grid-area: 1 / 1 / span 1 / span 1;
    text-align: justify;
    padding: 1% 2% 0 4%;
}

#caixa-texto-quadro11B {
    grid-area: 2 / 1 / span 1 / span 1;
    text-align: justify;
    padding: 1% 2% 0 4%;
}

#imgQ11 {
    grid-area: 1 / 2 / span 2 / span 1;
    width: 100%;
    height: 100%;
}

#quadro12 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro12 {
    text-align: justify;
    padding: 1% 4% 0 4%;
}

#imgQ12 {
    width: 100%;
}

#quadro13 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    margin: 2%;
}

#fonte {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    text-align: end;
    padding: 1% 4%;
}

td {
    width: 33%;
    position: relative;
    text-align: center;
}

.opcao {
    width: 100%;
}

.opcao-link {
    width: 100%;
}

#tela-final {
    display: none;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    width: 100%;
    margin-top: 5%;
}

#mensagem-final-ca {
    width: 100%;
}

#link {
    margin: auto;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}

h2 {
    font-family: "Palatino Linotype";
    font-size: 5rem;
    color: rgb(54, 49, 34);
    text-shadow: 2px 2px 2px rgb(78, 95, 95);
    line-height: 1em;
    text-align: center;
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

.tooltip {
    display: inline-block;
}

.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 32%;
    bottom: 27%;
    padding: 0.5em;
    width: 420px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip1 {
    visibility: visible;
}

.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 7%;
    bottom: 18%;
    padding: 0.5em;
    width: 425px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip2 {
    visibility: visible;
}

.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 31%;
    bottom: 17%;
    padding: 0.5em;
    width: 430px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip3 {
    visibility: visible;
}

.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 15%;
    bottom: 53%;
    padding: 0.5em;
    width: 425px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip4 {
    visibility: visible;
}

.tooltip .tooltip5 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 21%;
    bottom: 37%;
    padding: 0.5em;
    width: 380px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip5 {
    visibility: visible;
}

.tooltip .tooltip6 {
    z-index: 4;
    visibility: hidden;
    position: absolute;
    left: 46%;
    bottom: 80%;
    padding: 0.5em;
    width: 200px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip6 {
    visibility: visible;
}

.tooltip .tooltip7 {
    z-index: 4;
    visibility: hidden;
    position: absolute;
    left: 13%;
    bottom: 81%;
    padding: 0.5em;
    width: 390px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip7 {
    visibility: visible;
}

.tooltip .tooltip8 {
    z-index: 3;
    visibility: hidden;
    position: absolute;
    left: 23%;
    bottom: 41%;
    padding: 0.5em;
    width: 368px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip8 {
    visibility: visible;
}

.tooltip .tooltip9 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 18%;
    bottom: 53%;
    padding: 0.5em;
    width: 364px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip9 {
    visibility: visible;
}

.tooltip .tooltip10 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 16%;
    bottom: 36%;
    padding: 0.5em;
    width: 340px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip10 {
    visibility: visible;
}

.tooltip .tooltip11 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 30%;
    bottom: -4%;
    padding: 0.5em;
    width: 400px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip11 {
    visibility: visible;
}

.tooltip .tooltip12 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    right: 5%;
    bottom: 100%;
    padding: 0.5em;
    width: 725px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip12 {
    visibility: visible;
}

.tooltip .tooltip13{
    z-index: 2;
    visibility: hidden;
    position: absolute; /*posiciona o tooltip em relação ao elemento pai (td) que deve estar com position: relative*/
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    width: 225px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip13 {
    visibility: visible;
}