* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens-fred/pano-de-fundo.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

h2 {
    font-family: "Palatino Linotype";
    font-size: 5rem;
    color: rgb(54, 49, 34);
    text-shadow: 2px 2px 2px rgb(78, 95, 95);
    line-height: 1em;
    margin-left: 10%;
}

hr {
    border-color: rgb(70, 7, 3);
    border-width: 2px;
    box-shadow: 2px 3px 2px rgb(78, 95, 95);
    margin: 2% auto;
}

h4 {
    /* título */
    font-size: 2.5rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}

#quadro1 {
    display: flex;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#perfil {
    width: 78%;
    object-fit: cover;
}

#caixa-texto-quadro1 {
    padding: 2% 4% 0 2%;
    text-align: justify;
}

p {
    margin: 0 10%;
}

#quadro2 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro2 {
    padding: 1% 4% 0 4%;
    text-align: justify;
    position: relative;
}

#imgQ2 {
    width: 100%;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#quadro3 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
}

#caixa-texto-quadro3A {
    padding: 1% 4% 0 4%;
    text-align: justify;
    grid-area: 1 / 1 / span 1 / span 2;
}

#caixa-texto-quadro3B {
    padding: 0 12% 0 4%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    grid-area: 2 / 2 / span 1 / span 1;
}

#imgQ3 {
    grid-area: 2 / 1 / span 1 / span 1;
    width: 100%;
}

#quadro4 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro4 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ4 {
    width: 100%;
}

#quadro5 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 29% 71%;
}

#caixa-texto-quadro5A {
    grid-area: 1 / 1 / span 1 / span 2;
    position: relative;
    padding: 1% 4%;
    text-align: justify;
}

#caixa-texto-quadro5B {
    grid-area: 2 / 2 / span 1 / span 1;
    position: relative;
    padding: 0 6% 0 2%;
    text-align: end;
}

#caixa-texto-quadro5C {
    grid-area: 3 / 2 / span 1 / span 1;
    position: relative;
    padding: 0 6% 0 12%;
    text-align: end;
}

#caixa-texto-quadro5D {
    grid-area: 4 / 2 / span 1 / span 1;
    position: relative;
    padding: 0 6% 0 34%;
    text-align: end;
}

#imgQ5 {
    grid-area: 4 / 1 / span 1 / span 1;
    width: 135%;
    position: absolute;
    bottom: 0;
}

#quadro6 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro6 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#quadro7 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
}

#caixa-texto-quadro7A {
    padding: 1% 4% 0 4%;
    text-align: justify;
    grid-area: 1 / 1 / span 1 / span 2;
}

#caixa-texto-quadro7B {
    padding: 0 10%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    grid-area: 2 / 2 / span 1 / span 1;
}

#imgQ7 {
    grid-area: 2 / 1 / span 1 / span 1;
    width: 100%;
}

#quadro8 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro8 {
    padding: 1% 4%;
    position: relative;
    text-align: justify;
}

#quadro9 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro9 {
    padding: 1% 4%;
    position: relative;
    text-align: justify;
}

#quadro10 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    margin: 2%;
}

#fonte {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    text-align: end;
    padding: 1% 4%;
}

td {
    width: 33%;
    position: relative;
    text-align: center;
}

.opcao {
    width: 100%;
}

.opcao-link {
    width: 100%;
}

#tela-final {
    display: none;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    width: 100%;
    margin-top: 5%;
}

#mensagem-final-ca {
    width: 100%;
}

#link {
    margin: auto;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

.tooltip {
    display: inline-block;
}

.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 45%;
    bottom: 62%;
    padding: 0.5em;
    width: 380px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip1 {
    visibility: visible;
}

.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 17%;
    bottom: 56%;
    padding: 0.5em;
    width: 450px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip2 {
    visibility: visible;
}

.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 24%;
    bottom: 76%;
    padding: 0.5em;
    width: 500px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip3 {
    visibility: visible;
}

.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 18%;
    bottom: 8%;
    padding: 0.5em;
    width: 400px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip4 {
    visibility: visible;
}

.tooltip .tooltip5 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 45%;
    bottom: 67%;
    padding: 0.5em;
    width: 365px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip5 {
    visibility: visible;
}

.tooltip .tooltip6 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 48%;
    bottom: 54%;
    padding: 0.5em;
    width: 350px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip6 {
    visibility: visible;
}

.tooltip .tooltip7 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 44%;
    bottom: 48%;
    padding: 0.5em;
    width: 360px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip7 {
    visibility: visible;
}

.tooltip .tooltip8 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 15%;
    bottom: 42%;
    padding: 0.5em;
    width: 320px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip8 {
    visibility: visible;
}

.tooltip .tooltip9 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 38%;
    bottom: 21%;
    padding: 0.5em;
    width: 340px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip9 {
    visibility: visible;
}

.tooltip .tooltip10 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 48%;
    bottom: 9%;
    padding: 0.5em;
    width: 300px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip10 {
    visibility: visible;
}

.tooltip .tooltip11 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    right: 5%;
    bottom: 100%;
    padding: 0.5em;
    width: 725px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip11 {
    visibility: visible;
}

.tooltip .tooltip12{
    z-index: 2;
    visibility: hidden;
    position: absolute; /*posiciona o tooltip em relação ao elemento pai (td) que deve estar com position: relative*/
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    width: 225px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip12 {
    visibility: visible;
}