* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens-fred/pano-de-fundo.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    position: relative;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

hr {
    border-color: rgb(70, 7, 3);
    border-width: 3px;
    box-shadow: 3px 3px 3px rgb(78, 95, 95);
    margin: 2% auto;
    width: 100%;
}

h4 {
    /* título */
    font-size: 2.7rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}

#quadro1 {
    display: flex;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#perfil {
    width: 344%;
}

#caixa-texto-quadro1 {
    padding: 2% 4% 0 2%;
    text-align: justify;
    position: relative;
}

#quadro2 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 45% 55%;
}

#caixa-texto-quadro2A {
    grid-area: 1 / 1 / span 1 / span 2;
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#caixa-texto-quadro2B {
    grid-area: 2 / 2 / span 1 / span 1;
    padding: 5% 12% 0 6%;
    text-align: justify;
}

#imgQ2 {
    grid-area: 2 / 1 / span 1 / span 1;
    width: 100%;
}

#imgQ2b {
    grid-area: 2 / 1 / span 1 / span 1;
    display: none;
}

#quadro3 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: flex;
}

#caixa-texto-quadro3 {
    position: relative;
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ3 {
    width: 310%;
}

#quadro4 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: flex;
}

#caixa-texto-quadro4 {
    padding: 1% 4% 0 0;
    text-align: justify;
}

#imgQ4 {
    width: 295%;
}

#quadro5 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: flex;
}

#caixa-texto-quadro5 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ5 {
    width: 100%;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#quadro5-6 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro5-6 {
    padding: 8% 9% 0 57%;
    text-align: center;
    position: absolute;
}

#imgQ5-6 {
    width: 55%;
}

#quadro6 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 38% 62%;
    padding-top: 1%;
}

#caixa-texto-quadro6A {
    grid-area: 1 / 2 / span 1 / span 1;
    padding: 1% 6% 0 1%;
    text-align: justify;
}

#caixa-texto-quadro6B {
    grid-area: 2 / 2 / span 1 / span 1;
    padding: 0 6% 0 1%;
    text-align: justify;
}

#imgQ6 {
    grid-area: 1 / 1 / span 2 / span 1;
    position: absolute;
    left: 5%;
}

#quadro7 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro7 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ7 {
    width: 100%;
}

#quadro8 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro8 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ8 {
    width: 100%;
}

#quadro9 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 63% 37%;
    position: relative;
}

#caixa-texto-quadro9A {
    grid-area: 1 / 1 / span 1 / span 2;
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#caixa-texto-quadro9B {
    grid-area: 2 / 1 / span 1 / span 1;
    padding: 1% 2% 0 6%;
    text-align: justify;
}

#imgQ9 {
    grid-area: 2 / 2 / span 1 / span 1;
    width: 100%;
}

#quadro10 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 24% 76%;
    position: relative;
}

#caixa-texto-quadro10A {
    grid-area: 1 / 2 / span 1 / span 1;
    padding: 1% 6% 0 2%;
    text-align: justify;
}

#caixa-texto-quadro10B {
    grid-area: 2 / 2 / span 1 / span 1;
    padding: 3% 15% 3% 16%;
    text-align: justify;
}

#caixa-texto-quadro10C {
    grid-area: 3 / 1 / span 1 / span 2;
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ10 {
    grid-area: 1 / 1 / span 2 / span 1;
    width: 135%;
    position: absolute;
    bottom: 0;
}

#quadro11 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 180px 190px 80px;
    position: relative;
}

#caixa-texto-quadro11A {
    grid-area: 1 / 1 / span 1 / span 2;
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#caixa-texto-quadro11B {
    grid-area: 2 / 2 / span 1 / span 1;
    padding: 2% 9% 3% 16%;
    text-align: justify;
}

#caixa-texto-quadro11C {
    grid-area: 3 / 2 / span 1 / span 1;
    padding: 1% 5% 0 14%;
    text-align: justify;
}

#imgQ11 {
    grid-area: 2 / 1 / span 2 / span 1;
    width: 135%;
    position: absolute;
    bottom: 0;
}

#quadro12 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 25% 75%;
}

#caixa-texto-quadro12A {
    grid-area: 1 / 1 / span 1 / span 2;
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#caixa-texto-quadro12B {
    grid-area: 2 / 2 / span 1 / span 1;
    padding: 0 13% 0 5%;
    margin-bottom: auto;
    margin-top: auto;
    text-align: justify;
}

#imgQ12 {
    grid-area: 2 / 1 / span 1 / span 1;
    width: 100%;
}

#quadro13 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    margin: 2%;
}

h2 {
    font-family: "Palatino Linotype";
    font-size: 5rem;
    color: rgb(54, 49, 34);
    text-shadow: 2px 2px 2px rgb(78, 95, 95);
    line-height: 1em;
    text-align: center;
}

#fonte {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    text-align: end;
    padding: 1% 4%;
}

td {
    width: 33%;
    position: relative;
    text-align: center;
}

.opcao {
    width: 100%;
}

.opcao-link {
    width: 100%;
}

#tela-final {
    display: none;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    width: 100%;
    margin-top: 5%;
}

#mensagem-final-ca {
    width: 100%;
}

#link {
    margin: auto;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

.tooltip {
    display: inline-block;
}

.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 21%;
    bottom: 32%;
    padding: 0.5em;
    width: 335px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip1 {
    visibility: visible;
}

.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 56%;
    bottom: 10%;
    padding: 0.5em;
    width: 320px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip2 {
    visibility: visible;
}

.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 15%;
    bottom: 12%;
    padding: 0.5em;
    width: 285px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip3 {
    visibility: visible;
}

.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 29%;
    bottom: 10%;
    padding: 0.5em;
    width: 350px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip4 {
    visibility: visible;
}

.tooltip .tooltip5 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 34%;
    bottom: 39%;
    padding: 0.5em;
    width: 375px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip5 {
    visibility: visible;
}

.tooltip .tooltip6 {
    z-index: 4;
    visibility: hidden;
    position: absolute;
    left: 44%;
    bottom: 29%;
    padding: 0.5em;
    width: 330px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip6 {
    visibility: visible;
}

.tooltip .tooltip7 {
    z-index: 4;
    visibility: hidden;
    position: absolute;
    left: 52%;
    bottom: 26%;
    padding: 0.5em;
    width: 320px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip7 {
    visibility: visible;
}

.tooltip .tooltip8 {
    z-index: 3;
    visibility: hidden;
    position: absolute;
    left: 42%;
    bottom: 62%;
    padding: 0.5em;
    width: 365px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip8 {
    visibility: visible;
}

.tooltip .tooltip9 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 17%;
    bottom: 59%;
    padding: 0.5em;
    width: 340px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip9 {
    visibility: visible;
}

.tooltip .tooltip10 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 39%;
    bottom: 57%;
    padding: 0.5em;
    width: 354px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip10 {
    visibility: visible;
}

.tooltip .tooltip11 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 4%;
    bottom: 33%;
    padding: 0.5em;
    width: 360px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip11 {
    visibility: visible;
}

.tooltip .tooltip12 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    right: 5%;
    bottom: 120%;
    padding: 0.5em;
    width: 727px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip12 {
    visibility: visible;
}

.tooltip .tooltip13{
    z-index: 2;
    visibility: hidden;
    position: absolute; /*posiciona o tooltip em relação ao elemento pai (td) que deve estar com position: relative*/
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    width: 225px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip13 {
    visibility: visible;
}