* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens-fred/pano-de-fundo.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

hr {
    border-color: rgb(70, 7, 3);
    border-width: 3px;
    box-shadow: 3px 3px 4px rgb(78, 95, 95);
    margin: 2% auto;
    width: 100%;
}

h4 {
    /* título */
    font-size: 3rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}

#quadro1 {
    display: flex;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#perfil {
    width: 340%;
    object-fit: cover;
    object-position: 0;
}

#caixa-texto-quadro1 {
    padding: 2% 4% 0 2%;
    text-align: justify;
}

#quadro2 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    height: 460px;
}

#caixa-texto-quadro2 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ2 {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#quadro3 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    height: 450px;
}

#caixa-texto-quadro3 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ3 {
    width: 100%;
}

#quadro4 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro4 {
    padding: 1% 4%;
    text-align: justify;
    position: relative;
}

#imgQ4 {
    width: 100%;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#quadro5 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro5A {
    padding: 1% 4% 0 4%;
    text-align: justify;
    position: relative;
}

#caixa-texto-quadro5B {
    padding: 1% 4% 0 4%;
    text-align: justify;
    position: relative;
}

#imgQ5 {
    width: 100%;
}

/* p {
    margin: 2% 10%;
} */
#quadro6 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 28% 72%;
}

#caixa-texto-quadro6A {
    text-align: justify;
    padding: 0 5% 0 0;
    grid-area: 1 / 2 / span 1 / span 1;
}

#caixa-texto-quadro6B {
    text-align: justify;
    padding: 0 5% 0 0;
    grid-area: 2 / 2 / span 1 / span 2;
}

#caixa-texto-quadro6C {
    text-align: justify;
    padding: 0 4%;
    grid-area: 3 / 1 / span 1 / span 2;
}

#imgQ6 {
    grid-area: 1 / 1 / span 2 / span 1;
    width: 100%;
    height: 97%;
}

#quadro7 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro7 {
    text-align: justify;
    padding: 1% 4% 1% 4%;
    position: relative;
}

#imgQ7 {
    width: 100%;
}

#quadro8 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro8 {
    text-align: justify;
    padding: 1% 4% 1% 4%;
}

#imgQ8 {
    width: 100%;
}

#quadro9 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 35% 65%;
}

#caixa-texto-quadro9A {
    grid-area: 1 / 1 / span 1 / span 2;
    text-align: justify;
    padding: 1% 4% 0 4%;
}

#caixa-texto-quadro9B {
    grid-area: 2 / 2 / span 1 / span 1;
    text-align: justify;
    padding: 1% 5% 0 4%;
}

#caixa-texto-quadro9C {
    grid-area: 3 / 2 / span 1 / span 1;
    text-align: justify;
    padding: 1% 5% 0 4%;
}

#imgQ9 {
    grid-area: 2 / 1 / span 2 / span 1;
    width: 100%;
    height: 100%;
}

#quadro10 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro10 {
    text-align: justify;
    padding: 1% 4% 0 4%;
    position: relative;
}

#quadro11 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 37% 63%;
}

#caixa-texto-quadro11A {
    text-align: justify;
    padding: 1% 4% 0 4%;
    grid-area: 1 / 1 / span 1 / span 2;
}

#caixa-texto-quadro11B {
    text-align: justify;
    padding: 9% 7% 0 3%;
    grid-area: 2 / 2 / span 1 / span 1;
}

#caixa-texto-quadro11C {
    text-align: justify;
    padding: 1% 4% 0 4%;
    grid-area: 3 / 1 / span 1 / span 2;
}

#imgQ11 {
    grid-area: 2 / 1 / span 1 / span 1;
    width: 120%;
}

#quadro12 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    margin: 2%;
}

h2 {
    font-family: "Palatino Linotype";
    font-size: 5rem;
    color: rgb(54, 49, 34);
    text-shadow: 2px 2px 2px rgb(78, 95, 95);
    line-height: 1em;
    text-align: center;
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

#fonte {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    text-align: end;
    padding: 1% 4%;
}

td {
    width: 33%;
    position: relative;
    text-align: center;
}

.opcao {
    width: 100%;
}

.opcao-link {
    width: 100%;
}

#tela-final {
    display: none;
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    width: 100%;
    margin-top: 5%;
}

#mensagem-final-ca {
    width: 100%;
}

#link {
    margin: auto;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}

.tooltip {
    display: inline-block;
}

.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 52%;
    bottom: 48%;
    padding: 0.5em;
    width: 357px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip1 {
    visibility: visible;
}

.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 46%;
    bottom: 35%;
    padding: 0.5em;
    width: 380px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip2 {
    visibility: visible;
}

.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 29%;
    bottom: 34%;
    padding: 0.5em;
    width: 340px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip3 {
    visibility: visible;
}

.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 20%;
    bottom: 73%;
    padding: 0.5em;
    width: 320px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip4 {
    visibility: visible;
}

.tooltip .tooltip5 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 4%;
    bottom: 75%;
    padding: 0.5em;
    width: 370px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip5 {
    visibility: visible;
}

.tooltip .tooltip6 {
    z-index: 4;
    visibility: hidden;
    position: absolute;
    left: 36%;
    bottom: 51%;
    padding: 0.5em;
    width: 290px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip6 {
    visibility: visible;
}

.tooltip .tooltip7 {
    z-index: 4;
    visibility: hidden;
    position: absolute;
    left: 42%;
    bottom: 45%;
    padding: 0.5em;
    width: 348px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip7 {
    visibility: visible;
}

.tooltip .tooltip8 {
    z-index: 3;
    visibility: hidden;
    position: absolute;
    left: 43%;
    bottom: 45%;
    padding: 0.5em;
    width: 360px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip8 {
    visibility: visible;
}

.tooltip .tooltip9 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 4%;
    bottom: 66%;
    padding: 0.5em;
    width: 390px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip9 {
    visibility: visible;
}

.tooltip .tooltip10 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 27%;
    bottom: 23%;
    padding: 0.5em;
    width: 445px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip10 {
    visibility: visible;
}

.tooltip .tooltip11 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 39%;
    bottom: 57%;
    padding: 0.5em;
    width: 350px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip11 {
    visibility: visible;
}

.tooltip .tooltip12 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 48%;
    bottom: 15%;
    padding: 0.5em;
    width: 375px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip12 {
    visibility: visible;
}

.tooltip .tooltip13 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    right: 5%;
    bottom: 100%;
    padding: 0.5em;
    width: 723px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip13 {
    visibility: visible;
}

.tooltip .tooltip14{
    z-index: 2;
    visibility: hidden;
    position: absolute; /*posiciona o tooltip em relação ao elemento pai (td) que deve estar com position: relative*/
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    width: 225px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip14 {
    visibility: visible;
}