* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens-bia/pano-de-fundo.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

hr {
    border-color: rgb(70, 7, 3);
    border-width: 3px;
    box-shadow: 3px 4px 3px rgb(78, 95, 95);
    margin: 1% auto;
    width: 100%;
}

h4 {
    /* título */
    font-size: 2.7rem;
    color: rgb(54, 49, 34);
    text-align: center;
}

#quadro1 {
    display: flex;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#perfil {
    width: 420%;
}

#caixa-texto-quadro1 {
    padding: 1% 4% 0 3%;
    text-align: justify;
}

#quadro2 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro2 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ2 {
    width: 100%;
}

#quadro3 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro3 {
    padding: 1% 4% 0 4%;
    text-align: justify;
    position: relative;
}

#quadro4 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro4 {
    position: relative;
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ4 {
    width: 100%;
}

#quadro5 {
    display: grid;
    grid-template-columns: 37% 63%;
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro5A {
    padding: 1% 5% 0 2%;
    text-align: justify;
    grid-area: 1 / 2 / span 1 / span 1;
}

#caixa-texto-quadro5B {
    padding: 0 5% 0 2%;
    text-align: justify;
    grid-area: 2 / 2 / span 1 / span 1;
}

#imgQ5 {
    width: 100%;
    grid-area: 1 / 1 / span 2 / span 1;
}

#quadro6 {
    display: grid;
    grid-template-columns: 83% 17%;
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro6A {
    padding: 1% 2% 0 5%;
    text-align: justify;
    grid-area: 1 / 1 / span 1 / span 1;
}

#caixa-texto-quadro6B {
    padding: 0 2% 0 5%;
    text-align: justify;
    grid-area: 2 / 1 / span 1 / span 1;
}

#imgQ6 {
    width: 100%;
    grid-area: 1 / 2 / span 2 / span 1;
}

#quadro7 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro7 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ7 {
    width: 100%;
}

#quadro8 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro8 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#PQ8 {
    padding: 1% 0 1% 10%;
}

#quadro9 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro9A {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#caixa-texto-quadro9B {
    padding: 0 4%;
    text-align: justify;
}

#imgQ9A {
    width: 100%;
}

#imgQ9B {
    display: none;
}

#quadro10 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro10 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#quadro11 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: flex;
}

#caixa-texto-quadro11 {
    padding: 1% 2% 0 4%;
    text-align: justify;
}

#imgQ11 {
    width: 162%;
}

#quadro12 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: flex;
}

#caixa-texto-quadro12 {
    padding: 1% 5% 0 2%;
    text-align: justify;
}

#imgQ12 {
    width: 272%;
}

#quadro13 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro13 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ13 {
    width: 100%;
}

#quadro14 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro14 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#P14 {
    padding: 1% 0 1% 10%;
}

#quadro15 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro15 {
    padding: 1% 4%;
    text-align: justify;
}

#quadro16 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    margin: 2%;
}

h2 {
    font-family: "Palatino Linotype";
    font-size: 5rem;
    color: rgb(54, 49, 34);
    text-shadow: 2px 2px 2px rgb(78, 95, 95);
    line-height: 1em;
    text-align: center;
    margin: 2% 0;
}

#fonte {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    text-align: end;
    padding: 1% 4%;
}

td {
    width: 33%;
    position: relative;
    text-align: center;
}

.opcao {
    width: 100%;
}

.opcao-link {
    width: 100%;
}

#tela-final {
    display: none;
    scroll-snap-align: start;
    width: 100%;
    margin-top: 5%;
}

#mensagem-final-ca {
    width: 100%;
}

#link {
    margin: auto;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}


#tela-final {
    display: none;
    scroll-snap-align: start;
}

.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -2px;
    bottom: -173px;
    padding: 0.5em;
    width: 380px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip1 {
    visibility: visible;
}

.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -2px;
    bottom: -128px;
    padding: 0.5em;
    width: 337px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip2 {
    visibility: visible;
}

.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -230px;
    bottom: -175px;
    padding: 0.5em;
    width: 400px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip3 {
    visibility: visible;
}

.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -2px;
    bottom: -129px;
    padding: 0.5em;
    width: 340px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip4 {
    visibility: visible;
}

.tooltip .tooltip5 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -2px;
    bottom: -173px;
    padding: 0.5em;
    width: 425px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip5 {
    visibility: visible;
}

.tooltip .tooltip6 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -295px;
    bottom: -173px;
    padding: 0.5em;
    width: 360px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip6 {
    visibility: visible;
}

.tooltip .tooltip7 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -2px;
    bottom: -108px;
    padding: 0.5em;
    width: 344px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip7 {
    visibility: visible;
}

.tooltip .tooltip8 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -2px;
    bottom: -110px;
    padding: 0.5em;
    width: 320px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip8 {
    visibility: visible;
}

.tooltip .tooltip9 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -96px;
    bottom: -153px;
    padding: 0.5em;
    width: 347px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip9 {
    visibility: visible;
}

.tooltip .tooltip10 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -218px;
    bottom: -109px;
    padding: 0.5em;
    width: 350px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip10 {
    visibility: visible;
}

.tooltip .tooltip11 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    right: 5%;
    bottom: 120%;
    padding: 0.5em;
    width: 732px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip11 {
    visibility: visible;
}

.tooltip .tooltip12{
    z-index: 2;
    visibility: hidden;
    position: absolute; /*posiciona o tooltip em relação ao elemento pai (td) que deve estar com position: relative*/
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    width: 225px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip12 {
    visibility: visible;
}