* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens-bia/pano-de-fundo.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

h2 {
    font-family: "Palatino Linotype";
    font-size: 5rem;
    color: rgb(54, 49, 34);
    text-shadow: 2px 2px 2px rgb(78, 95, 95);
    line-height: 1em;
    margin-left: 10%;
}

hr {
    border-color: rgb(70, 7, 3);
    border-width: 3px;
    box-shadow: 4px 4px 3px rgb(78, 95, 95);
    margin: 2% auto;
    width: 100%;
}

h4 {
    /* título */
    font-size: 2.9rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}

#quadro1 {
    display: flex;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#perfil {
    width: 400%;
}

#caixa-texto-quadro1 {
    padding: 2% 4% 0 2%;
    text-align: justify;
}

#quadro2 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 64% 36%;
    margin-left: 4%;
}

#caixa-texto-quadro2A {
    grid-area: 1 / 1 / span 1 / span 2;
    padding: 1% 4% 0 0;
    text-align: justify;
    position: relative;
}

#caixa-texto-quadro2B {
    grid-area: 2 / 1 / span 1 / span 1;
    padding: 1% 22%;
    text-align: justify;
    position: relative;
    font-size: 2.5rem;
}

#caixa-texto-quadro2C {
    grid-area: 3 / 1 / span 1 / span 1;
    padding: 0 5% 0 0;
    text-align: justify;
    position: relative;
}

#imgQ2 {
    grid-area: 2 / 2 / span 2 / span 1;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#quadro3 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro3 {
    padding: 1% 3% 0 4%;
    text-align: justify;
}

#quadro4 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 72% 28%;
    grid-auto-rows: 290px 150px;
}

#caixa-texto-quadro4A {
    grid-area: 1 / 1 / span 1 / span 1;
    position: relative;
    padding: 1% 2% 0 5%;
    text-align: justify;
}

#caixa-texto-quadro4B {
    grid-area: 2 / 1 / span 1 / span 2;
    position: relative;
    padding: 1% 4% 0 3%;
    text-align: justify;
}

#imgQ4 {
    grid-area: 1 / 2 / span 1 / span 1;
    width: 100%;
    height: 290px;
    object-fit: cover;
    object-position: top;
}

#quadro5 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro5 {
    position: relative;
    padding: 1% 3%;
    text-align: justify;
}

#quadro6 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro6 {
    position: relative;
    padding: 1% 3% 2% 3%;
    text-align: justify;
}

#imgQ6 {
    width: 100%;
}

#quadro7 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro7A {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#caixa-texto-quadro7B {
    padding: 0 4%;
    text-align: justify;
}

#quadro8 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro8 {
    padding: 1% 4%;
    position: relative;
    text-align: justify;
}

#quadro9 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    height: 700px;
}

#caixa-texto-quadro9 {
    padding: 1% 65% 0 4%;
    position: relative;
    text-align: justify;
}

#imgQ9 {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#quadro10 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    margin: 2%;
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

#fonte {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    text-align: end;
    padding: 0 4% 2% 0;
}

td {
    width: 33%;
    position: relative;
    text-align: center;
}

.opcao {
    width: 100%;
}

.opcao-link {
    width: 100%;
}

#tela-final {
    display: none;
    scroll-snap-align: start;
    width: 100%;
    margin-top: 5%;
}

#mensagem-final-ca {
    width: 100%;
}

#link {
    margin: auto;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -4%;
    bottom: 117%;
    padding: 0.5em;
    width: 385px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip1 {
    visibility: visible;
}

.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -107%;
    bottom: -540%;
    padding: 0.5em;
    width: 338px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip2 {
    visibility: visible;
}

.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -176%;
    bottom: -460%;
    padding: 0.5em;
    width: 345px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip3 {
    visibility: visible;
}

.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -252%;
    bottom: -617%;
    padding: 0.5em;
    width: 414px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip4 {
    visibility: visible;
}

.tooltip .tooltip5 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -300%;
    bottom: -544%;
    padding: 0.5em;
    width: 340px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip5 {
    visibility: visible;
}

.tooltip .tooltip6 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -300%;
    bottom: -620%;
    padding: 0.5em;
    width: 450px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip6 {
    visibility: visible;
}

.tooltip .tooltip7 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -290%;
    bottom: -467%;
    padding: 0.5em;
    width: 335px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip7 {
    visibility: visible;
}

.tooltip .tooltip8 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -5%;
    bottom: 112%;
    padding: 0.5em;
    width: 330px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip8 {
    visibility: visible;
}

.tooltip .tooltip9 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -1063%;
    bottom: 115%;
    padding: 0.5em;
    width: 320px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip9 {
    visibility: visible;
}

.tooltip .tooltip10 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -135%;
    bottom: 114%;
    padding: 0.5em;
    width: 370px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip10 {
    visibility: visible;
}

.tooltip .tooltip11 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -124%;
    bottom: 122%;
    padding: 0.5em;
    width: 330px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip11 {
    visibility: visible;
}

.tooltip .tooltip12 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -208%;
    bottom: 122%;
    padding: 0.5em;
    width: 360px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip12 {
    visibility: visible;
}

.tooltip .tooltip13 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -303%;
    bottom: 125%;
    padding: 0.5em;
    width: 390px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip13 {
    visibility: visible;
}

.tooltip .tooltip14 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    right: 5%;
    bottom: 128%;
    padding: 0.5em;
    width: 734px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip14 {
    visibility: visible;
}

.tooltip .tooltip15{
    z-index: 2;
    visibility: hidden;
    position: absolute; /*posiciona o tooltip em relação ao elemento pai (td) que deve estar com position: relative*/
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    width: 225px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip15 {
    visibility: visible;
}

.tooltipimage .tooltipimg {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 35%;
    bottom: -45%;
    padding: 1% 6% 1% 1%;
    width: 420px;
    height: 135px;
    line-height: 2.3rem;
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url(/debate-bia/imagens-bia/tooltip.png);
    margin-top: auto;
    margin-bottom: auto;
}

.tooltipimage:hover .tooltipimg {
    visibility: visible;
}