* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens-bia/pano-de-fundo.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

hr {
    border-color: rgb(70, 7, 3);
    border-width: 3px;
    box-shadow: 3px 4px 3px rgb(78, 95, 95);
    margin: 2% auto 1% auto;
}

h4 {
    /* título */
    font-size: 2.9rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}

#quadro1 {
    display: flex;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#perfil {
    width: 370%;
}

#caixa-texto-quadro1 {
    padding: 2% 4% 0 3%;
    text-align: justify;
}

/* p {
    margin: 2% 27% 2% 6%;
    font-weight: bold;
} */

#quadro2 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 64% 36%;
}

#caixa-texto-quadro2A {
    grid-area: 1 / 1 / span 1 / span 1;
    padding: 1% 2% 0 5%;
    text-align: justify;
    position: relative;
}

#caixa-texto-quadro2B {
    grid-area: 2 / 1 / span 1 / span 1;
    padding: 0 2% 0 5%;
    text-align: justify;
    position: relative;
}

#imgQ2 {
    grid-area: 1 / 2 / span 2 / span 1;
    width: 100%;
}

#quadro3 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 68% 32%;
    position: relative;
    margin-left: 3%;
}

#caixa-texto-quadro3A {
    grid-area: 1 / 1 / span 1 / span 2;
    padding: 1% 4% 0 0;
    text-align: justify;
    position: relative;
}

#caixa-texto-quadro3B {
    grid-area: 2 / 1 / span 1 / span 1;
    padding: 0 1% 0 0;
    text-align: justify;
    position: relative;
}

#caixa-texto-quadro3C {
    grid-area: 3 / 1 / span 1 / span 2;
    padding: 0 3% 0 0;
    text-align: justify;
    position: relative;
}

#imgQ3 {
    grid-area: 2 / 2 / span 1 / span 1;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#quadro4 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 24% 51% 25%;
    position: relative;
}

#caixa-texto-quadro4A {
    grid-area: 1 / 2 / span 1 / span 1;
    padding: 1% 0 0 0;
    text-align: justify;
    position: relative;
}

#caixa-texto-quadro4B {
    grid-area: 2 / 2 / span 1 / span 1;
    text-align: justify;
    padding: 0 8% 0 7%;
}

#caixa-texto-quadro4C {
    grid-area: 3 / 1 / span 1 / span 3;
    text-align: justify;
    padding: 1% 4% 0 4%;
}

#imgQ4A {
    grid-area: 1 / 1 / span 2 / span 1;
    width: 105%;
    position: absolute;
    bottom: 0;
}

#imgQ4B {
    grid-area: 1 / 3 / span 2 / span 1;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#imgQ4C {
    display: none;
}

#quadro5 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 63% 37%;
}

#caixa-texto-quadro5A {
    grid-area: 1 / 2 / span 1 / span 1;
    padding: 0 9% 0 4%;
    text-align: justify;
    position: relative;
    line-height: 2.6rem;
}

#caixa-texto-quadro5B {
    grid-area: 2 / 1 / span 1 / span 2;
    padding: 1% 4% 0 4%;
    text-align: justify;
    position: relative;
}

#imgQ5 {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 100%;
}

#quadro6 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 27% 45% 28%;
    grid-template-rows: 170px 160px 180px;
}

#caixa-texto-quadro6A {
    grid-area: 1 / 2 / span 1 / span 2;
    padding: 0 19% 0 4%;
    margin-bottom: auto;
    margin-top: auto;
    text-align: end;
}

#caixa-texto-quadro6B {
    grid-area: 2 / 1 / span 1 / span 2;
    padding: 0 10% 0 18%;
    margin-bottom: auto;
    margin-top: auto;
}

#caixa-texto-quadro6C {
    grid-area: 3 / 2 / span 1 / span 2;
    padding: 0 4% 0 0;
    margin-bottom: auto;
    margin-top: auto;
    text-align: justify;
}

#imgQ6A {
    grid-area: 1 / 1 / span 1 / span 1;
    position: absolute;
    bottom: 0;
    width: 110%;
}

#imgQ6B {
    grid-area: 2 / 3 / span 1 / span 1;
    position: absolute;
    width: 115%;
    bottom: 0;
    right: 28px;
}

#imgQ6C {
    grid-area: 3 / 1 / span 1 / span 1;
    position: absolute;
    bottom: 0;
    width: 85%;
}

#quadro7 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro7 {
    padding: 1% 4%;
    text-align: justify;
}

#imgQ7 {
    width: 100%;
}

#quadro8 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 20% 58% 22%;
    grid-template-rows: 200px 88px 173px;
}

#caixa-texto-quadro8A {
    grid-area: 1 / 2 / span 1 / span 2;
    padding: 1% 5% 0 2%;
    text-align: justify;
}

#caixa-texto-quadro8B {
    grid-area: 2 / 1 / span 1 / span 2;
    padding: 1% 0 0 5%;
    text-align: justify;
}

#caixa-texto-quadro8C {
    grid-area: 3 / 1 / span 1 / span 2;
    padding: 0 1% 0 5%;
    text-align: justify;
}

#imgQ8A {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 110%;
    position: absolute;
    bottom: -8px;
}

#imgQ8B {
    grid-area: 2 / 3 / span 2 / span 1;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#quadro9 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: 260px 97px;
}

#caixa-texto-quadro9A {
    grid-area: 1 / 2 / span 1 / span 1;
    padding: 1% 6% 0 2%;
    text-align: justify;
}

#caixa-texto-quadro9B {
    grid-area: 2 / 1 / span 1 / span 2;
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ9 {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 100%;
    object-fit: cover;
    object-position: 0 84px;
    position: absolute;
    bottom: 0;
}

#quadro10 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro10 {
    padding: 0 4%;
    text-align: justify;
}

#imgQ10 {
    width: 100%;
}

#quadro11 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 18% 82%;
    grid-template-rows: auto 135px 150px 170px;
}

#caixa-texto-quadro11A {
    grid-area: 1 / 1 / span 1 / span 2;
    padding: 1% 4% 0 4%;
    text-align: justify;
    line-height: 2.6rem;
}

#caixa-texto-quadro11B {
    grid-area: 2 / 2 / span 1 / span 1;
    padding: 1% 14% 0 12%;
    text-align: justify;
}

#caixa-texto-quadro11C {
    grid-area: 3 / 2 / span 1 / span 1;
    padding: 1% 14% 0 13%;
    text-align: justify;
}

#caixa-texto-quadro11D {
    grid-area: 4 / 2 / span 1 / span 1;
    padding: 2% 15% 0 14%;
    text-align: justify;
    line-height: 2.6rem;
}

#imgQ11A {
    grid-area: 2 / 1 / span 3 / span 1;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#imgQ11B {
    display: none;
}

#quadro12 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro12 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ12 {
    width: 100%;
}

#quadro13 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro13 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ13 {
    width: 100%;
}

#quadro14 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    margin: 3%;
}

h2 {
    font-family: "Palatino Linotype";
    font-size: 5rem;
    color: rgb(54, 49, 34);
    text-shadow: 2px 2px 2px rgb(78, 95, 95);
    line-height: 1em;
    margin-left: 10%;
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

#fonte {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    text-align: end;
    padding: 1% 4%;
    bottom: 1vh;
}

td {
    width: 33%;
    position: relative;
    text-align: center;
}

.opcao {
    width: 100%;
}

.opcao-link {
    width: 100%;
}

#tela-final {
    display: none;
    scroll-snap-align: start;
    width: 100%;
    margin-top: 5%;
}

#mensagem-final-ca {
    width: 100%;
}

#link {
    margin: auto;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}

.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -312%;
    bottom: -380%;
    padding: 0.5em;
    width: 400px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip1 {
    visibility: visible;
}

.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -4%;
    bottom: -700%;
    padding: 0.5em;
    width: 360px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip2 {
    visibility: visible;
}

.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -179%;
    bottom: -618%;
    padding: 0.5em;
    width: 330px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip3 {
    visibility: visible;
}

.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -200%;
    bottom: -222%;
    padding: 0.5em;
    width: 310px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip4 {
    visibility: visible;
}

.tooltip .tooltip5 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -760%;
    bottom: -540%;
    padding: 0.5em;
    width: 350px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip5 {
    visibility: visible;
}

.tooltip .tooltip6 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -337%;
    bottom: -545%;
    padding: 0.5em;
    width: 315px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip6 {
    visibility: visible;
}

.tooltip .tooltip7 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -2%;
    bottom: -540%;
    padding: 0.5em;
    width: 320px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip7 {
    visibility: visible;
}

.tooltip .tooltip8 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -210%;
    bottom: -469%;
    padding: 0.5em;
    width: 390px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip8 {
    visibility: visible;
}

.tooltip .tooltip9 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -115%;
    bottom: -380%;
    padding: 0.5em;
    width: 390px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip9 {
    visibility: visible;
}

.tooltip .tooltip10 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -265%;
    bottom: -775%;
    padding: 0.5em;
    width: 440px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip10 {
    visibility: visible;
}

.tooltip .tooltip11 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -180%;
    bottom: -470%;
    padding: 0.5em;
    width: 400px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip11 {
    visibility: visible;
}

.tooltip .tooltip12 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -180%;
    bottom: -230%;
    padding: 0.5em;
    width: 400px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip12 {
    visibility: visible;
}

.tooltip .tooltip13 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: -215%;
    bottom: 118%;
    padding: 0.5em;
    width: 415px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip13 {
    visibility: visible;
}

.tooltip .tooltip14 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    right: 5%;
    bottom: 120%;
    padding: 0.5em;
    width: 570px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip14 {
    visibility: visible;
}

.tooltip .tooltip15{
    z-index: 2;
    visibility: hidden;
    position: absolute; /*posiciona o tooltip em relação ao elemento pai (td) que deve estar com position: relative*/
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    width: 225px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip15 {
    visibility: visible;
}