* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens-larissa/pano-de-fundo.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

h2 {
    font-family: "Palatino Linotype";
    font-size: 5rem;
    color: rgb(54, 49, 34);
    text-shadow: 2px 2px 2px rgb(78, 95, 95);
    line-height: 1em;
    margin-left: 10%;
}

hr {
    border-color: rgb(70, 7, 3);
    border-width: 3px;
    box-shadow: 3px 3px 4px rgb(78, 95, 95);
    margin: 2% auto;
}

h4 {
    /* título */
    font-size: 2.7rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}

#quadro1 {
    display: flex;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#perfil {
    width: 210%;
}

#caixa-texto-quadro1 {
    padding: 2% 4% 0 4%;
    text-align: justify;
}

p {
    padding: 0 20% 0 11%;
}

#quadro2 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-rows: 66% 34%;
    grid-template-columns: 24% 76%;
    position: relative;
}

#caixa-texto-quadro2A {
    padding: 2% 4% 0 4%;
    text-align: justify;
    position: relative;
    grid-area: 1 / 1 / span 1 / span 2;
}
#imgQ2 {
    grid-area: 2 / 1 / span 1 / span 1;
}
#caixa-texto-quadro2B {
    grid-area: 2 / 2 / span 1 / span 1;
    text-align: justify;
    padding: 0 10% 0 9%;
    margin-top: auto;
    margin-bottom: auto;
}
#quadro3 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 62% 38%;
    grid-template-rows: 130px 170px;
    position: relative;
    height: 300px;
}

#caixa-texto-quadro3A {
    padding: 1% 4% 0 4%;
    text-align: justify;
    position: relative;
    grid-area: 1 / 1 / span 1 / span 2;
}
#imgQ3 {
    grid-area: 1 / 2 / span 2 / span 1;
    width: 90%;
    position: absolute;
    bottom: 0;
}
#caixa-texto-quadro3B {
    grid-area: 2 / 1 / span 1 / span 1;
    font-size: 2.1rem;
    text-align: center;
    padding: 0 22%;
    margin-top: auto;
    margin-bottom: auto;
}

#quadro4 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 67% 33%;
    grid-template-rows: auto 220px;
    position: relative;
}

#caixa-texto-quadro4A {
    padding: 1% 4% 0 4%;
    text-align: justify;
    position: relative;
    grid-area: 1 / 1 / span 1 / span 2;
}
#imgQ4 {
    grid-area: 2 / 2 / span 1 / span 1;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#caixa-texto-quadro4B {
    grid-area: 2 / 1 / span 1 / span 1;
    text-align: justify;
    padding: 0 0 0 9%;
    margin-top: auto;
    margin-bottom: auto;
}

#quadro5 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 38% 62%;
    grid-template-rows: auto 240px;
    position: relative;
}

#caixa-texto-quadro5A {
    padding: 1% 4% 0 4%;
    text-align: justify;
    position: relative;
    grid-area: 1 / 1 / span 1 / span 2;
}
#imgQ5 {
    grid-area: 2 / 1 / span 1 / span 1;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#caixa-texto-quadro5B {
    grid-area: 2 / 2 / span 1 / span 1;
    text-align: justify;
    padding: 0 5% 0 3%;
    margin-top: auto;
    margin-bottom: auto;
}

#quadro6 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 68% 32%;
    position: relative;
}
#caixa-texto-quadro6A {
    padding: 2% 4% 0 4%;
    text-align: justify;
    grid-area: 1 / 1 / span 1 / span 2;
}
#imgQ6 {
    grid-area: 2 / 2 / span 1 / span 1;
    width: 119%;
    position: absolute;
    bottom: 0;
    right: 0;
}
#caixa-texto-quadro6B {
    grid-area: 2 / 1 / span 1 / span 1;
    text-align: justify;
    padding: 0 4% 0 6%;
    margin-top: auto;
    margin-bottom: auto;
}

#quadro7 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
#caixa-texto-quadro7 {
    position: relative;
    text-align: justify;
    padding: 1% 4% 0 4%;
    margin-top: auto;
    margin-bottom: auto;
}

#quadro8 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 65% 35%;
    position: relative;
}
#caixa-texto-quadro8A {
    padding: 2% 0 0 6%;
    text-align: justify;
    grid-area: 1 / 1 / span 1 / span 1;
}
#caixa-texto-quadro8B {
    grid-area: 2 / 1 / span 1 / span 1;
    text-align: justify;
    padding: 2% 11% 0 13%;
}
#imgQ8 {
    grid-area: 2 / 2 / span 1 / span 1;
    width: 107%;
    position: absolute;
    bottom: 0;
    right: 0;
}

#quadro9 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    margin: 2%;
}

td {
    width: 33%;
    position: relative;
    text-align: center;
}

.opcao {
    width: 100%;
}

.opcao-link {
    width: 100%;
}

#link {
    margin: auto;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}

#fonte {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    text-align: end;
    padding: 1% 4%;
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

.tooltip {
    display: inline-block;
}

.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 42%;
    bottom: 685px;
    padding: 0.5em;
    width: 400px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip1 {
    visibility: visible;
}

.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 44%;
    bottom: 545px;
    padding: 0.5em;
    width: 360px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip2 {
    visibility: visible;
}

.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 45%;
    bottom: 500px;
    padding: 0.5em;
    width: 330px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip3 {
    visibility: visible;
}

.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 4%;
    bottom: 15%;
    padding: 0.5em;
    width: 340px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip4 {
    visibility: visible;
}

.tooltip .tooltip5 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 18%;
    bottom: -27%;
    padding: 0.5em;
    width: 449px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip5 {
    visibility: visible;
}

.tooltip .tooltip6 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 21%;
    bottom: -76%;
    padding: 0.5em;
    width: 340px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip6 {
    visibility: visible;
}

.tooltip .tooltip7 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 31%;
    bottom: 36%;
    padding: 0.5em;
    width: 340px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip7 {
    visibility: visible;
}

.tooltip .tooltip8 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 16%;
    bottom: 36%;
    padding: 0.5em;
    width: 390px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip8 {
    visibility: visible;
}
.tooltip .tooltip9 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 40%;
    bottom: 33%;
    padding: 0.5em;
    width: 319px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip9 {
    visibility: visible;
}
.tooltip .tooltip10 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 38%;
    bottom: 50%;
    padding: 0.5em;
    width: 395px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip10 {
    visibility: visible;
}
.tooltip .tooltip11 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 14%;
    bottom: 51%;
    padding: 0.5em;
    width: 319px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip11 {
    visibility: visible;
}

.tooltip .tooltip12 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    right: 5%;
    bottom: 100%;
    padding: 0.5em;
    width: 725px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip12 {
    visibility: visible;
}

.tooltip .tooltip13{
    z-index: 2;
    visibility: hidden;
    position: absolute; /*posiciona o tooltip em relação ao elemento pai (td) que deve estar com position: relative*/
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    width: 225px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip13 {
    visibility: visible;
}

#tela-final {
    display: none;
    scroll-snap-align: start;
    width: 100%;
    margin-top: 5%;
}

#mensagem-final-ca {
    width: 100%;
}