/* determina telas com largura entre 391 a 428 px */
@media (max-width:428px) {
    .pagina {
        font-size: 1.6rem;
        line-height: 1.8rem;
        max-width: 412px;
    }

    #perfil {
        width: 137px;
        object-fit: cover;
        object-position: -66px;
    }

    h2 {
        font-size: 2.7rem;
        margin: 4%;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    hr {
        margin: 1% auto;
        width: 100%;
    }

    #quadro2 {
        grid-template-columns: 25% 53% 22%;
    }

    #caixa-texto-quadro2A {
        grid-area: 1 / 1 / span 1 / span 3;
        padding: 1% 4% 0 4%;
    }

    #caixa-texto-quadro2B {
        grid-area: 3 / 1 / span 1 / span 3;
        padding: 1% 4% 0 4%;
    }

    #imgQ2A {
        width: 115%;
        grid-area: 2 / 1 / span 1 / span 1;
    }

    #imgQ2B {
        width: 110%;
        grid-area: 2 / 3 / span 1 / span 1;
    }

    #imgQ2C {
        grid-area: 2 / 2 / span 1 / span 1;
        display: block;
        width: 100%;
    }

    #quadro4 {
        display: grid;
        grid-template-columns: 67% 33%;
    }

    #imgQ4 {
        grid-area: 2 / 2 / span 1 / span 1;
        width: 210%;
        position: absolute;
        right: 0;
    }

    #caixa-texto-quadro4A {
        grid-area: 1 / 1 / span 1 / span 2;
        padding: 1% 4% 0 4%;
        width: 100%;
    }

    #caixa-texto-quadro4B {
        grid-area: 2 / 1 / span 1 / span 1;
        text-align: start;
        padding: 0 0 0 6%;
        width: 100%;
    }

    #caixa-texto-quadro6A {
        padding: 1% 2% 0 3%;
    }

    #caixa-texto-quadro6B {
        grid-area: 2 / 1 / span 1 / span 2;
        padding: 2% 4% 0 34%;
    }

    #PQ6 {
        padding: 1% 17%;
    }

    #imgQ6 {
        width: 160%;
        position: absolute;
        bottom: 0;
    }

    #PQ7 {
        padding: 1% 11%;
    }

    #quadro8 {
        grid-template-columns: 22% 52% 26%;
    }

    #caixa-texto-quadro8B {
        padding: 2% 5% 0 5%;
    }

    #imgQ8A {
        width: 140%;
        position: absolute;
        bottom: 0;
    }

    #imgQ8B {
        grid-area: 4 / 3 / span 1 / span 1;
        width: 105%;
        bottom: 0;
        right: 0;
    }

    #caixa-texto-quadro8C {
        grid-area: 3 / 1 / span 1 / span 3;
        padding: 1% 4% 0 4%;
    }

    #caixa-texto-quadro8D {
        grid-area: 4 / 1 / span 1 / span 2;
    }

    #caixa-texto-quadro9A {
        line-height: 2.1rem;
    }

    #caixa-texto-quadro9B {
        line-height: 2.1rem;
        padding: 0 4%;
        text-align: justify;
    }

    #caixa-texto-quadro9C {
        grid-area: 3 / 1 / span 1 / span 3;
        text-align: justify;
        line-height: 2.1rem;
    }

    #caixa-texto-quadro9D {
        grid-area: 4 / 1 / span 1 / span 3;
        text-align: justify;
        padding: 0 4%;
        line-height: 2.1rem;
    }

    #imgQ9 {
        grid-area: 4 / 1 / span 3 / span 3;
        width: 160%;
        bottom: 0;
        left: 0;
        opacity: 0.3;
    }

    .opcoes {
        margin: 4% auto 0 auto;
    }

    #fonte {
        height: 6vh;
    }

    .tooltip .tooltip1 {
        left: 27%;
        bottom: 38%;
        width: 290px;
    }

    .tooltip .tooltip2 {
        left: 24%;
        bottom: 14%;
        width: 300px;
    }

    .tooltip .tooltip3 {
        left: 34%;
        bottom: 37%;
        width: 255px;
    }

    .tooltip .tooltip4 {
        left: 14%;
        bottom: 37%;
        width: 300px;
    }

    .tooltip .tooltip5 {
        left: 8%;
        bottom: -2%;
        width: 345px;
    }

    .tooltip .tooltip6 {
        left: 4%;
        bottom: -14%;
        width: 290px;
    }

    .tooltip .tooltip7 {
        left: 10%;
        bottom: 30%;
        width: 320px;
    }

    .tooltip .tooltip8 {
        left: 11%;
        bottom: 39%;
        width: 310px;
    }

    .tooltip .tooltip9 {
        left: 8%;
        bottom: 32%;
        width: 320px;
    }

    .tooltip .tooltip10 {
        left: 9%;
        bottom: 32%;
        width: 325px;
    }

    .tooltip .tooltip11 {
        left: 3%;
        bottom: -211%;
        width: 382px;
    }

    .tooltip .tooltip12 {
        left: 9%;
        bottom: 46%;
        width: 340px;
    }

    .tooltip .tooltip13 {
        left: 3%;
        bottom: 35%;
        width: 355px;
    }

    .tooltip .tooltip14 {
        left: 7%;
        bottom: 56%;
        width: 355px;
    }

    .tooltip .tooltip15 {
        right: 5%;
        bottom: 114%;
        width: 370px;
    }
       
    .tooltip .tooltip16 {
        top: -40%;
        width: 125px;
    }

}

/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas com largura de 376 a 390px */
@media (max-width:390px) {
    .pagina {
        max-width: 384px;
    }

    #perfil {
        width: 507%;
        object-position: -75px;
    }

    #caixa-texto-quadro6B {
        grid-area: 2 / 1 / span 1 / span 2;
        padding: 0 4%;
    }

    #PQ6 {
        padding: 1% 9%;
    }

    #imgQ6 {
        display: none;
    }

    #PQ7 {
        padding: 1% 8%;
    }

    #quadro8 {
        grid-template-columns: 22% 48% 30%;
    }

    #caixa-texto-quadro8A {
        padding: 1% 4% 0 3%;
    }

    #imgQ8B {
        width: 114%;
    }

    .tooltip .tooltip1 {
        left: 21%;
        bottom: 39%;
    }

    .tooltip .tooltip2 {
        left: 18%;
        bottom: 15%;
    }

    .tooltip .tooltip3 {
        left: 7%;
        bottom: 38%;
    }

    .tooltip .tooltip4 {
        left: 18%;
        bottom: 42%;
    }

    .tooltip .tooltip5 {
        left: 4%;
        bottom: 7%;
    }

    .tooltip .tooltip6 {
        left: 3%;
        bottom: 1%;
    }

    .tooltip .tooltip7 {
        left: 40%;
        bottom: 15%;
        width: 220px;
    }

    .tooltip .tooltip8 {
        left: 4%;
        bottom: 42%;
        width: 295px;
    }

    .tooltip .tooltip9 {
        left: 4%;
        bottom: 31%;
    }

    .tooltip .tooltip10 {
        left: 8%;
        bottom: 31%;
    }

    .tooltip .tooltip11 {
        left: 3%;
        bottom: -243%;
        width: 350px;
    }

    .tooltip .tooltip12 {
        left: 6%;
        bottom: 46%;
    }

    .tooltip .tooltip13 {
        left: 3%;
        bottom: 31%;
    }

    .tooltip .tooltip14 {
        left: 10%;
        bottom: 58%;
        width: 305px;
    }

    .tooltip .tooltip15 {
        width: 348px;
    }
}

/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas com largura até 375px */
@media (max-width:375px) {
    .pagina {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    #perfil {
        width: 420%;
    }

    #caixa-texto-quadro1 {
        padding: 0 3%;
    }

    h4 {
        margin-top: 2%;
    }

    #PQ7 {
        padding: 2% 10%;
    }

    #caixa-texto-quadro8B {
        padding: 2% 5% 0 8%;
        text-align: end;
    }

    #imgQ8A {
        width: 170%;
    }

    .tooltip .tooltip1 {
        left: 25%;
        bottom: 43%;
        width: 270px;
    }

    .tooltip .tooltip2 {
        left: 17%;
        bottom: 18%;
    }

    .tooltip .tooltip3 {
        left: 4%;
        bottom: 40%;
    }

    .tooltip .tooltip4 {
        left: 20%;
        bottom: 45%;
        width: 275px;
    }

    .tooltip .tooltip5 {
        left: 4%;
        bottom: 16%;
    }

    .tooltip .tooltip6 {
        left: 4%;
        bottom: -8%;
        width: 260px;
    }

    .tooltip .tooltip7 {
        left: 28%;
        bottom: 29%;
        width: 260px;
    }

    .tooltip .tooltip8 {
        left: 4%;
        bottom: 47%;
        width: 325px;
    }

    .tooltip .tooltip9 {
        left: 4%;
        bottom: 33%;
        width: 300px
    }

    .tooltip .tooltip10 {
        left: 3%;
        bottom: 29%;
    }

    .tooltip .tooltip11 {
        left: 5%;
        bottom: -223%;
        width: 330px;
    }

    .tooltip .tooltip12 {
        left: 5%;
        bottom: 49%;
    }

    .tooltip .tooltip13 {
        left: 7%;
        bottom: 35%;
        width: 330px;
    }
}

/* determina telas com largura até 360px */
@media (max-width:360px) {

    #perfil {
        width: 478%;
    }

    h4 {
        font-size: 1.5rem;
    }

    #quadro4 {
        grid-template-columns: 66% 34%;
    }

    #imgQ4 {
        width: 260%;
    }

    #PQ7 {
        padding: 2% 21%;
        text-align: center;
    }

    #caixa-texto-quadro9A {
        line-height: 1.9rem;
    }

    #caixa-texto-quadro9B {
        line-height: 1.9rem;
    }

    #caixa-texto-quadro9C {
        line-height: 1.9rem;
    }

    #caixa-texto-quadro9D {
        line-height: 1.9rem;
    }

    h2 {
        font-size: 2.6rem;
    }

    #fonte {
        height: 4vh;
    }

    .tooltip .tooltip1 {
        left: 21%;
        bottom: 46%;
    }

    .tooltip .tooltip2 {
        left: 28%;
        bottom: 50%;
        width: 250px;
    }

    .tooltip .tooltip3 {
        bottom: 39%;
        left: 19%;
    }

    .tooltip .tooltip4 {
        left: 4%;
        bottom: 39%;
    }

    .tooltip .tooltip5 {
        left: 7%;
        bottom: 5%;
        width: 309px;
    }

    .tooltip .tooltip6 {
        left: 4%;
        bottom: 4%;
    }

    .tooltip .tooltip7 {
        left: 24%;
        bottom: 27%;
    }

    .tooltip .tooltip8 {
        left: 4%;
        bottom: 51%;
    }

    .tooltip .tooltip9 {
        left: 8%;
        bottom: 35%;
    }

    .tooltip .tooltip10 {
        left: 5%;
        bottom: 35%;
    }

    .tooltip .tooltip11 {
        left: 4%;
        bottom: -226%;
    }

    .tooltip .tooltip12 {
        left: 4%;
        bottom: 45%;
        width: 320px;
    }

    .tooltip .tooltip13 {
        left: 3%;
        bottom: 32%;
        width: 330px;
    }

    .tooltip .tooltip14 {
        left: 10%;
        bottom: 59%;
        width: 286px;
    }

    .tooltip .tooltip15 {
        width: 327px;
        bottom: 130%;
    }
}

/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas em LANDSCAPE com altura entre 415 a 428 px */
@media (orientation: landscape) and (max-height: 428px) {
    .pagina {
        font-size: 1.9rem;
        line-height: 2.6rem;
        margin: 0 auto;
        max-width: 883px;
    }

    #quadro1 {
        height: 100vh;
    }

    #perfil {
        width: auto;
    }

    #caixa-texto-quadro1 {
        padding: 0 6%;
        margin-top: auto;
        margin-bottom: auto;
    }

    h2 {
        font-size: 4rem;
        line-height: 0.5em;
        margin-left: 2%;
        padding-top: 2%;
    }

    h3 {
        font-size: 1.9rem;
    }

    h4 {
        font-size: 3rem;
    }

    hr {
        margin-bottom: 3%;
        border-width: 3px;
        width: 100%;
    }

    #quadro2 {
        height: 100vh;
        grid-template-columns: 25% 53% 22%;
        grid-template-rows: 26vh 47vh 27vh;
    }

    #caixa-texto-quadro2A {
        grid-area: 1 / 1 / span 1 / span 3;
        padding: 1% 4% 0 4%;
        line-height: 2.4rem;
    }

    #caixa-texto-quadro2B {
        grid-area: 3 / 1 / span 1 / span 3;
        padding: 1% 4% 0 4%;
        line-height: 2.4rem;
    }

    #imgQ2A {
        width: 113%;
        grid-area: 2 / 1 / span 1 / span 1;
    }

    #imgQ2B {
        width: 110%;
        grid-area: 2 / 3 / span 1 / span 1;
    }

    #imgQ2C {
        grid-area: 2 / 2 / span 1 / span 1;
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    #quadro3 {
        height: 100vh;
        display: table-cell;
        vertical-align: middle;
    }

    #caixa-texto-quadro3 {
        padding: 1% 6% 0 6%;
        line-height: 3rem;
    }

    #quadro4 {
        height: 100vh;
    }

    #caixa-texto-quadro4A {
        padding: 4% 3% 0 5%;
    }

    #caixa-texto-quadro4B {
        padding: 2% 3% 0 5%;
    }

    #imgQ4 {
        width: 100%;
    }

    #quadro5 {
        height: 100vh;
    }

    #caixa-texto-quadro5 {
        line-height: 2.3rem;
    }

    #imgQ5 {
        width: 90%;
        height: 81%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    #quadro6 {
        height: 100vh;
    }

    #caixa-texto-quadro6A {
        padding: 1% 4% 0 4%;
        line-height: 2.8rem;
    }

    #caixa-texto-quadro6B {
        padding: 0% 9% 0 11%;
    }

    #PQ6 {
        padding: 4% 0 0 11%;
    }

    #imgQ6 {
        position: absolute;
        bottom: 0;
        width: 110%;
    }

    #quadro7 {
        height: 100vh;
        display: flex;
    }

    #caixa-texto-quadro7 {
        padding: 0 4%;
        margin-top: auto;
        margin-bottom: auto;
        line-height: 3rem;
    }

    p {
        padding: 2% 12%;
    }

    #PQ7 {
        padding: 0;
        margin: 3% 8%;
    }

    #quadro8 {
        height: 100vh;
        grid-template-columns: 20% 48% 32%;
        grid-template-rows: 16vh 21vh 39vh 24vh;
    }

    #caixa-texto-quadro8A {
        padding: 1% 4% 0 4%;
        line-height: 2.6rem;
    }

    #caixa-texto-quadro8B {
        padding: 0 4% 0 4%;
        line-height: 2.6rem;
        grid-area: 2 / 1 / span 1 / span 3;
    }

    #caixa-texto-quadro8C {
        padding: 0 0 0 5%;
        line-height: 2.6rem;
    }

    #caixa-texto-quadro8D {
        padding: 0 0 0 4%;
        line-height: 2.6rem;
        grid-area: 4 / 1 / span 1 / span 2;
    }

    #imgQ8A {
        display: none;
    }

    #imgQ8B {
        width: 102%;
        position: absolute;
        bottom: 0;
        right: 0;
        grid-area: 3 / 3 / span 2 / span 1;
    }

    #quadro9 {
        grid-template-columns: 24% 10% 66%;
        height: 100vh;
    }

    #caixa-texto-quadro9A {
        line-height: 2.5rem;
    }

    #caixa-texto-quadro9B {
        grid-area: 2 / 2 / span 1 / span 2;
        line-height: 2.4rem;
        padding: 0% 4% 0 16%;
    }

    #caixa-texto-quadro9C {
        grid-area: 3 / 2 / span 1 / span 2;
        padding: 0 4% 0 6%;
    }

    #caixa-texto-quadro9D {
        grid-area: 4 / 3 / span 1 / span 1;
        padding: 0 4% 0 1%;
        text-align: end;
    }

    #imgQ9 {
        width: 72%;
        left: -13px;
    }

    #quadro10 {
        height: 100vh;
        display: table-cell;
        vertical-align: middle;
    }

    #caixa-texto-quadro10A {
        line-height: 2.6rem;
        padding: 0 4%;
    }

    #PQ10 {
        padding: 3% 11%;
    }

    #caixa-texto-quadro10B {
        line-height: 2.6rem;
        padding: 0 4%;
    }

    #quadro11 {
        height: 100vh;
        display: table-cell;
        vertical-align: middle;
    }

    #caixa-texto-quadro11 {
        padding: 0 4%;
    }

    #imgQ11 {
        height: 100vh;
    }

    #quadro12 {
        height: 100vh;
        margin: 13%;
        padding-top: 1%;
    }

    #fonte {
        bottom: 38vh;
    }

    #titulo {
        display: none;
    }

    .opcoes {
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1%;
    }

    .opcao {
        width: 90%;
    }

    .opcao-nula {
        scale: 90%;
    }

    .tooltip .tooltip1 {
        left: 50%;
        bottom: 34%;
    }

    .tooltip .tooltip2 {
        left: 52%;
        bottom: 15%;
    }

    .tooltip .tooltip3 {
        left: 23%;
        bottom: 52%;
    }

    .tooltip .tooltip4 {
        left: 4%;
        bottom: 42%;
    }

    .tooltip .tooltip5 {
        left: 22%;
        bottom: 28%;
    }

    .tooltip .tooltip6 {
        left: 8%;
        bottom: -1%;
    }

    .tooltip .tooltip7 {
        left: 27%;
        bottom: 53%;
    }

    .tooltip .tooltip8 {
        left: 43%;
        bottom: 38%;
    }

    .tooltip .tooltip9 {
        left: 3%;
        bottom: 38%;
    }

    .tooltip .tooltip10 {
        left: 28%;
        bottom: 38%;
    }

    .tooltip .tooltip11 {
        left: 30%;
        bottom: -190%;
        width: 434px;
    }

    .tooltip .tooltip12 {
        left: 37%;
        bottom: 47%;
        width: 400px;
    }

    .tooltip .tooltip13 {
        left: 48%;
        bottom: 34%;
    }

    .tooltip .tooltip14 {
        left: 21%;
        bottom: 37%;
    }

    .tooltip .tooltip16 {
        top: 0;
    }

    #tela-final {
        position: relative;
        height: 100vh;
    }

    #mensagem-final-ca {
        position: absolute;
        bottom: 0;
    }
}

/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas em LANDSCAPE com altura entre 391 a 414 px */
@media (orientation: landscape) and (max-height: 414px) {

    #caixa-texto-quadro6B {
        padding: 0 21% 0 11%;
    }

    #caixa-texto-quadro6A {
        line-height: 2.6rem;
    }

    #quadro12 {
        margin: 14%;
        padding-top: 1%;
    }

    #fonte {
        bottom: 41vh;
    }

    .tooltip .tooltip1 {
        bottom: 33%;
    }

    .tooltip .tooltip2 {
        left: 50%;
        bottom: 13%;
    }

    .tooltip .tooltip3 {
        bottom: 50%;
    }

    .tooltip .tooltip4 {
        bottom: 40%;
    }

    .tooltip .tooltip5 {
        bottom: 25%;
    }

    .tooltip .tooltip7 {
        bottom: 51%;
    }

    .tooltip .tooltip12 {
        bottom: 45%;
    }

    .tooltip .tooltip13 {
        bottom: 33%;
    }
}

/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em LANDSCAPE com altura de 376 a 390px */
@media (orientation: landscape) and (max-height: 390px) {

    .pagina {
        max-width: 844px;
    }

    h4 {
        font-size: 3rem;
    }

    hr {
        margin-bottom: 2%;
    }

    #caixa-texto-quadro1 {
        line-height: 2.6rem;
        padding: 0 4%;
    }

    #caixa-texto-quadro2A {
        line-height: 2.2rem;
    }

    #caixa-texto-quadro2B {
        line-height: 2.2rem;
    }

    #imgQ2A {
        width: 106%;
    }

    #imgQ2B {
        width: 105%;
    }

    #caixa-texto-quadro3 {
        padding: 0 5%;
        line-height: 2.8rem;
    }

    #caixa-texto-quadro4A {
        padding: 3% 3% 0 5%;
    }

    #caixa-texto-quadro7 {
        line-height: 2.7rem;
    }

    #PQ7 {
        margin: 1% 6%;
    }

    #quadro8 {
        grid-template-columns: 20% 50% 30%;
        grid-template-rows: 18vh 20vh 39vh 23vh;
    }

    #caixa-texto-quadro8A {
        line-height: 2.5rem;
        padding: 2% 4% 0 4%;
    }

    #caixa-texto-quadro8B {
        line-height: 2.5rem;
    }

    #caixa-texto-quadro8C {
        line-height: 2.5rem;
        padding: 0 0 0 6%;
    }

    #caixa-texto-quadro8D {
        line-height: 2.5rem;
        padding: 0 0 0 6%;
    }

    #imgQ8B {
        width: 98%;
    }

    #quadro9 {
        grid-template-columns: 32% 10% 58%;
        grid-template-rows: 15vh 24vh 36vh 35vh;
    }

    #caixa-texto-quadro9B {
        line-height: 2.3rem;
    }

    #caixa-texto-quadro9C {
        line-height: 2.3rem;
    }

    #caixa-texto-quadro9D {
        line-height: 2.3rem;
    }

    #imgQ9 {
        width: 69%;
        left: 25px;
    }

    #caixa-texto-quadro10A {
        line-height: 2.5rem;
    }

    #caixa-texto-quadro10B {
        line-height: 2.5rem;
        padding: 0 3%;
    }

    #quadro12 {
        margin: 14%;
    }

    #fonte {
        bottom: 43vh;
    }

    .tooltip .tooltip1 {
        left: 48%;
        bottom: 29%;
    }

    .tooltip .tooltip2 {
        left: 47%;
        bottom: 8%;
    }

    .tooltip .tooltip3 {
        left: 23%;
        bottom: 48%;
    }

    .tooltip .tooltip4 {
        left: 4%;
        bottom: 42%;
        width: 360px;
    }

    .tooltip .tooltip5 {
        left: 20%;
        bottom: 21%;
    }

    .tooltip .tooltip6 {
        left: 8%;
        bottom: -2%;
    }

    .tooltip .tooltip7 {
        left: 51%;
        bottom: 53%;
    }

    .tooltip .tooltip8 {
        left: 50%;
        bottom: 33%;
    }

    .tooltip .tooltip9 {
        left: 5%;
        bottom: 38%;
    }

    .tooltip .tooltip10 {
        left: 45%;
        bottom: 38%;
    }

    .tooltip .tooltip11 {
        left: 27%;
        bottom: -197%;
    }

    .tooltip .tooltip12 {
        left: 36%;
        bottom: 42%;
    }

    .tooltip .tooltip13 {
        left: 46%;
        bottom: 33%;
    }

    .tooltip .tooltip14 {
        left: 26%;
        bottom: 35%;
    }

    .tooltip .tooltip16 {
        top: -15px;
    }
}

/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em LANDSCAPE com altura de até 375 px */
@media (orientation: landscape) and (max-height: 375px) {
    .pagina {
        max-width: 667px;
        font-size: 1.8rem;
    }

    #perfil {
        object-fit: cover;
        width: 412%;
    }

    h4 {
        font-size: 2.6rem;
    }

    #caixa-texto-quadro1 {
        line-height: 2.2rem;
        padding: 0 4% 0 3%;
    }

    #caixa-texto-quadro2A {
        padding: 1% 3% 0 4%;
    }

    #caixa-texto-quadro2B {
        padding: 1% 3% 0 3%;
    }

    #caixa-texto-quadro3 {
        padding: 0 4%;
        line-height: 2.4rem;
    }

    #caixa-texto-quadro4A {
        width: 62%;
        padding: 2% 3% 0 5%;
        line-height: 2.4rem;
    }

    #caixa-texto-quadro4B {
        width: 51%;
        padding: 0% 3% 0 5%;
        line-height: 2.4rem;
    }

    #imgQ4 {
        width: 110%;
    }

    #caixa-texto-quadro5 {
        line-height: 2rem;
    }

    #imgQ5 {
        height: 80vh;
    }

    #caixa-texto-quadro6A {
        line-height: 2.4rem;
    }

    #caixa-texto-quadro6B {
        padding: 0 6% 0 9%;
    }

    #PQ6 {
        padding: 2% 0 0 11%;
    }

    #imgQ6 {
        width: 116%;
    }

    #caixa-texto-quadro7 {
        line-height: 2.3rem;
    }

    #PQ7 {
        padding: 0% 17%;
    }

    #quadro8 {
        grid-template-rows: 14vh 23vh 39vh 24vh;
        grid-template-columns: 26% 50% 24%;
        padding-left: 4%;
    }

    #caixa-texto-quadro8A {
        line-height: 2.1rem;
        padding: 1% 4% 0 0;
    }

    #caixa-texto-quadro8B {
        line-height: 2.1rem;
        padding: 0 4% 0 0;
    }

    #caixa-texto-quadro8C {
        line-height: 2.1rem;
        padding: 0 3% 0 0;
        text-align: start;
    }

    #caixa-texto-quadro8D {
        line-height: 2.1rem;
        padding: 0 13% 0 0;
        text-align: start;
    }

    #imgQ8B {
        width: 150%;
    }

    #quadro9 {
        grid-template-columns: 21% 10% 69%;
        grid-template-rows: 15vh 23vh 36vh 36vh;
    }

    #caixa-texto-quadro9A {
        line-height: 2.2rem;
    }

    #caixa-texto-quadro9B {
        line-height: 2.2rem;
    }

    #caixa-texto-quadro9C {
        line-height: 2.2rem;
    }

    #caixa-texto-quadro9D {
        line-height: 2.2rem;
    }

    #imgQ9 {
        width: 78%;
        left: -28px;
    }

    #caixa-texto-quadro10A {
        line-height: 2.2rem;
        padding: 1% 5% 0 5%;
    }

    #PQ10 {
        padding: 1% 11%;
    }

    #caixa-texto-quadro10B {
        line-height: 2.2rem;
        padding: 0 5% 0 5%;
    }

    #quadro12 {
        margin: 7%;
    }

    #fonte {
        bottom: 23vh;
    }

    .tooltip .tooltip1 {
        left: 39%;
        bottom: 33%;
    }

    .tooltip .tooltip2 {
        left: 39%;
        bottom: 10%;
    }

    .tooltip .tooltip3 {
        left: 22%;
        bottom: 49%;
    }

    .tooltip .tooltip4 {
        left: 23%;
        bottom: 44%;
    }

    .tooltip .tooltip5 {
        left: 13%;
        bottom: 22%;
    }

    .tooltip .tooltip6 {
        left: 5%;
        bottom: 9%;
        width: 320px;
    }

    .tooltip .tooltip7 {
        left: 22%;
        bottom: 55%;
    }

    .tooltip .tooltip8 {
        left: 17%;
        bottom: 36%;
        width: 320px;
    }

    .tooltip .tooltip9 {
        left: 12%;
        bottom: 38%;
    }

    .tooltip .tooltip10 {
        left: 42%;
        bottom: 38%;
        width: 350px;
    }

    .tooltip .tooltip11 {
        left: 1%;
        bottom: -293%;
    }

    .tooltip .tooltip12 {
        left: 24%;
        bottom: 45%;
    }

    .tooltip .tooltip13 {
        left: 35%;
        bottom: 35%;
    }

    .tooltip .tooltip14 {
        left: 39%;
        bottom: 47%;
        width: 340px;
    }
}

/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em LANDSCAPE com altura de até 360 px */
@media (orientation: landscape) and (max-height: 360px) {

    .pagina {
        max-width: 640px;
        font-size: 1.8rem;
    }

    #perfil {
        width: 410%;
    }

    #caixa-texto-quadro1 {
        line-height: 2.1rem;
        padding: 1% 4% 0 3%;
    }

    h4 {
        font-size: 2.5rem;
    }

    #quadro2 {
        grid-template-rows: 27vh 40vh 33vh;
    }

    #caixa-texto-quadro2A {
        line-height: 2.1rem;
        padding: 1% 4% 0 4%;
    }

    #caixa-texto-quadro2B {
        line-height: 2.1rem;
        padding: 1% 4% 0 4%;
    }

    #imgQ2A {
        width: 102%;
    }

    #imgQ2B {
        width: 102%;
    }

    #caixa-texto-quadro4A {
        padding: 2% 1% 0 5%;
        line-height: 2.3rem;
    }

    #caixa-texto-quadro4B {
        padding: 0% 1% 0 5%;
        line-height: 2.3rem;
    }

    #imgQ4 {
        right: -16px;
    }

    #imgQ5 {
        height: 77vh;
    }

    #caixa-texto-quadro6A {
        line-height: 2.1rem;
    }

    #caixa-texto-quadro6B {
        padding: 0 6%;
    }

    p {
        padding: 1% 9%;
    }

    #caixa-texto-quadro7 {
        line-height: 2.1rem;
        padding: 0 4%;
    }

    #PQ7 {
        padding: 0% 16%;
    }

    #caixa-texto-quadro8A {
        line-height: 2rem;
        padding: 1% 4% 0 3%;
    }

    #quadro8 {
        grid-template-rows: 14vh 22vh 39vh 25vh;
        grid-template-columns: 26% 51% 23%;
    }

    #caixa-texto-quadro8A {
        padding: 1% 4% 0 0;
    }

    #caixa-texto-quadro8B {
        line-height: 2rem;
        padding: 0 4% 0 0;
    }

    #caixa-texto-quadro8C {
        line-height: 2rem;
        padding: 0 8px 0 0;
    }

    #caixa-texto-quadro8D {
        line-height: 2rem;
        padding: 0 13% 0 0;
    }

    #imgQ8B {
        width: 140%;
    }

    #quadro9 {
        grid-template-columns: 23% 10% 67%;
    }

    #caixa-texto-quadro9A {
        line-height: 2.1rem;
    }

    #caixa-texto-quadro9B {
        line-height: 2.1rem;
    }

    #caixa-texto-quadro9C {
        line-height: 2.1rem;
        padding: 0 4% 0 0%;
    }

    #caixa-texto-quadro9D {
        line-height: 2.1rem;
    }

    #imgQ9 {
        width: 80%;
        object-fit: cover;
        object-position: -17px 37px;
    }

    #caixa-texto-quadro10A {
        line-height: 2.1rem;
        padding: 1% 4% 0 4%;
    }

    #caixa-texto-quadro10B {
        line-height: 2.2rem;
        padding: 0 3% 0 4%;
    }

    .tooltip .tooltip1 {
        left: 45%;
        bottom: 34%;
        width: 325px;
    }

    .tooltip .tooltip2 {
        left: 38%;
        bottom: 10%;
    }

    .tooltip .tooltip3 {
        left: 35%;
        bottom: 42%;
        width: 255px;
    }

    .tooltip .tooltip4 {
        left: 34%;
        bottom: 42%;
    }

    .tooltip .tooltip5 {
        left: 21%;
        bottom: 4%;
        width: 370px;
    }

    .tooltip .tooltip6 {
        left: 4%;
        bottom: 7%;
    }

    .tooltip .tooltip7 {
        left: 23%;
        bottom: 65%;
    }

    .tooltip .tooltip8 {
        left: 27%;
        bottom: 36%;
    }

    .tooltip .tooltip9 {
        left: 22%;
        bottom: 42%;
    }

    .tooltip .tooltip10 {
        left: 4%;
        bottom: 36%;
    }

    .tooltip .tooltip11 {
        left: 3%;
        bottom: -306%;
    }

    .tooltip .tooltip12 {
        bottom: 43%;
    }

    .tooltip .tooltip13 {
        left: 33%;
    }

    .tooltip .tooltip14 {
        left: 36%;
        bottom: 47%;
    }

    .tooltip .tooltip15 {
        width: 575px;
    }
}