* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens-enio/pano-de-fundo.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

h2 {
    font-family: "Palatino Linotype";
    font-size: 5rem;
    color: rgb(54, 49, 34);
    text-shadow: 2px 2px 2px rgb(78, 95, 95);
    line-height: 1em;
    text-align: center;
}

hr {
    border-color: rgb(70, 7, 3);
    border-width: 3px;
    box-shadow: 3px 3px 3px rgb(78, 95, 95);
    margin: 2% auto;
}

h4 {
    /* título */
    font-size: 2.7rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}

#quadro1 {
    display: flex;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#perfil {
    width: 450%;
}

#caixa-texto-quadro1 {
    padding: 2% 4% 0 2%;
    text-align: justify;
}

#quadro2 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro2 {
    padding: 2% 4% 0 4%;
    text-align: justify;
}

#quadro3 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 35% 65%;
}

#caixa-texto-quadro3A {
    grid-area: 1 / 1 / span 1 / span 2;
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#caixa-texto-quadro3B {
    grid-area: 2 / 2 / span 1 / span 1;
    padding: 1% 14% 0 8%;
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    line-height: 3.2rem;
    margin: auto;
}

#imgQ3 {
    grid-area: 2 / 1 / span 1 / span 1;
    width: 100%;
}

#quadro4 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro4 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#quadro5 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro5 {
    position: relative;
    padding: 1% 4%;
    text-align: justify;
}

#quadro6 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    height: 450px;
}

#caixa-texto-quadro6 {
    position: relative;
    top: 47px;
    text-align: end;
    padding-right: 5%;
    z-index: 2;
}

#imgQ6 {
    position: absolute;
    bottom: 0;
}

#quadro7 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
}

#caixa-texto-quadro7A {
    grid-area: 1 / 1 / span 1 / span 2;
    text-align: justify;
    padding: 2% 4% 1% 4%;
}

#caixa-texto-quadro7B {
    grid-area: 2 / 2 / span 1 / span 1;
    padding: 1% 30% 0 8%;
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    line-height: 3.2rem;
    margin: auto;
}

#imgQ7 {
    grid-area: 2 / 1 / span 1 / span 1;
}

#quadro8 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro8 {
    text-align: justify;
    padding: 2% 4% 1% 4%;
}

#quadro9 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro9 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#quadro9-10 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: flex;
}

#caixa-texto-quadro9-10 {
    padding: 1% 7% 0 12%;
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    line-height: 3.2rem;
    margin: auto;
}

#imgQ9 {
    width: 200%;
}

#quadro10 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
}

#caixa-texto-quadro10A {
    grid-area: 1 / 1 / span 1 / span 2;
    text-align: justify;
    padding: 2% 4% 1% 4%;
}

#caixa-texto-quadro10B {
    grid-area: 2 / 2 / span 1 / span 1;
    padding: 1% 30% 0 8%;
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    line-height: 3.2rem;
    margin: auto;
}

#imgQ10 {
    grid-area: 2 / 1 / span 1 / span 1;
}

#quadro11 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    margin: 2%;
}

#fonte {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    text-align: end;
    padding: 1% 4%;
}

td {
    width: 33%;
    position: relative;
    text-align: center;
}

.opcao {
    width: 100%;
}

.opcao-link {
    width: 100%;
}

#tela-final {
    display: none;
    scroll-snap-align: start;
    width: 100%;
    margin-top: 5%;
}

#mensagem-final-ca {
    width: 100%;
}

#link {
    margin: auto;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

.tooltip {
    display: inline-block;
}

.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 19%;
    bottom: 31%;
    padding: 0.5em;
    width: 300px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip1 {
    visibility: visible;
}

.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 12%;
    bottom: 9%;
    padding: 0.5em;
    width: 330px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip2 {
    visibility: visible;
}

.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 45%;
    bottom: 68%;
    padding: 0.5em;
    width: 415px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip3 {
    visibility: visible;
}

.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 23%;
    bottom: 63%;
    padding: 0.5em;
    width: 330px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip4 {
    visibility: visible;
}

.tooltip .tooltip5 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 53%;
    bottom: 74%;
    padding: 0.5em;
    width: 280px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip5 {
    visibility: visible;
}

.tooltip .tooltip6 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    right: 5%;
    bottom: 100%;
    padding: 0.5em;
    width: 680px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip6 {
    visibility: visible;
}

.tooltip .tooltip7{
    z-index: 2;
    visibility: hidden;
    position: absolute; /*posiciona o tooltip em relação ao elemento pai (td) que deve estar com position: relative*/
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    width: 225px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip7 {
    visibility: visible;
}
