* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens-andre/pano-de-fundo.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

#quadro1 {
    display: flex;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#caixa-texto-quadro1 {
    padding: 2% 4% 0 2%;
    text-align: justify;
}

#perfil {
    width: 230%;
}

h4 {
    /* título */
    font-size: 2.7rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}

hr {
    border-color: rgb(70, 7, 3);
    border-width: 3px;
    box-shadow: 3px 3px 3px rgb(78, 95, 95);
    margin: 2% auto;
}

p {
    text-align: start;
}
#P1 {
    margin: 0 18% 0 10%;
}

#quadro2 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro2 {
    padding: 2% 4% 0 4%;
    text-align: justify;
}

#imgQ2 {
    width: 100%;
}

#quadro3 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro3 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ3 {
    width: 100%;
}

#quadro4 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 55% 45%;
}

#caixa-texto-quadro4A {
    grid-area: 1 / 1 / span 1 / span 2;
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#caixa-texto-quadro4B {
    grid-area: 2 / 1 / span 1 / span 1;
    padding: 0 0 0 7%;
    text-align: justify;
}

#caixa-texto-quadro4C {
    grid-area: 3 / 1 / span 1 / span 1;
    padding: 0 0 0 7%;
    text-align: justify;
}

#imgQ4 {
    width: 92%;
    grid-area: 2 / 2 / span 2 / span 1;
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: cover;
}

#quadro5 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro5 {
    position: relative;
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#quadro6 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro6 {
    padding: 1% 4% 0 4%;
    text-align: start;
}

#imgQ6 {
    width: 100%;
}

#quadro7 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 27% 73%;
}

#caixa-texto-quadro7A {
    grid-area: 1 / 1 / span 1 / span 2;
    text-align: justify;
    padding: 1% 4% 0 4%;
}

#caixa-texto-quadro7B {
    grid-area: 2 / 2 / span 1 / span 1;
    text-align: justify;
    padding: 0 5% 0 2%;
}

#caixa-texto-quadro7C {
    grid-area: 3 / 2 / span 1 / span 1;
    text-align: justify;
    padding: 0 5% 0 2%;
}

#imgQ7 {
    grid-area: 3 / 1 / span 2 / span 1;
    width: 112%;
    position: absolute;
    bottom: 0;
}

#quadro8 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 63% 37%;
}

#caixa-texto-quadro8A {
    grid-area: 1 / 1 / span 1 / span 1;
    text-align: justify;
    padding: 2% 5% 0 7%;
}

#caixa-texto-quadro8B {
    grid-area: 2 / 1 / span 1 / span 1;
    text-align: justify;
    padding: 0 5% 0 7%;
}

#imgQ8 {
    grid-area: 1 / 2 / span 2 / span 1;
    width: 104%;
}

#quadro9 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro9 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#quadro10 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro10 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ10 {
    width: 100%;
}

#quadro11 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro11A {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#caixa-texto-quadro11B {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ11 {
    width: 100%;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#quadro12 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro12 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#quadro13 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 33% 67%;
    grid-auto-rows: 65px 280px auto;
}

#caixa-texto-quadro13A {
    grid-area: 1 / 1 / span 1 / span 2;
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#caixa-texto-quadro13B {
    grid-area: 2 / 2 / span 1 / span 1;
    padding: 6% 6% 0 0;
    text-align: justify;
}

#caixa-texto-quadro13C {
    grid-area: 3 / 1 / span 1 / span 2;
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ13 {
    grid-area: 2 / 1 / span 1 / span 1;
    width: 215%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

#quadro14 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro14 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ14 {
    width: 100%;
}

#quadro15 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro15 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#imgQ15 {
    width: 100%;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

p {
    margin: 2%;
}

#quadro16 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro16 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#quadro17 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    margin: 3%;
}

td {
    width: 33%;
    position: relative;
    text-align: center;
}

.opcao {
    width: 100%;
}

.opcao-link {
    width: 100%;
}

#tela-final {
    display: none;
    scroll-snap-align: start;
    width: 100%;
    margin-top: 5%;
}

#mensagem-final-ca {
    width: 100%;
}

#link {
    margin: auto;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}

h2 {
    font-family: "Palatino Linotype";
    font-size: 5rem;
    color: rgb(54, 49, 34);
    text-shadow: 2px 2px 2px rgb(78, 95, 95);
    line-height: 1em;
    text-align: center;
}

#fonte {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    text-align: end;
    padding: 1% 4%;
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

.tooltip {
    display: inline-block;
}

.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 46%;
    bottom: 8%;
    padding: 0.5em;
    width: 320px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip1 {
    visibility: visible;
}

.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 28%;
    bottom: 20%;
    padding: 0.5em;
    width: 330px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip2 {
    visibility: visible;
}

.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 36%;
    bottom: 62%;
    padding: 0.5em;
    width: 435px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip3 {
    visibility: visible;
}

.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 5%;
    bottom: 59%;
    padding: 0.5em;
    width: 386px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip4 {
    visibility: visible;
}

.tooltip .tooltip5 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 19%;
    bottom: 30%;
    padding: 0.5em;
    width: 400px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip5 {
    visibility: visible;
}

.tooltip .tooltip6 {
    z-index: 4;
    visibility: hidden;
    position: absolute;
    left: 23%;
    bottom: 64%;
    padding: 0.5em;
    width: 220px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip6 {
    visibility: visible;
}

.tooltip .tooltip7 {
    z-index: 4;
    visibility: hidden;
    position: absolute;
    left: 49%;
    bottom: 34%;
    padding: 0.5em;
    width: 340px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip7 {
    visibility: visible;
}

.tooltip .tooltip8 {
    z-index: 3;
    visibility: hidden;
    position: absolute;
    left: 39%;
    bottom: 18%;
    padding: 0.5em;
    width: 455px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip8 {
    visibility: visible;
}

.tooltip .tooltip9 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 34%;
    bottom: 42%;
    padding: 0.5em;
    width: 375px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip9 {
    visibility: visible;
}

.tooltip .tooltip10 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 4%;
    bottom: 35%;
    padding: 0.5em;
    width: 300px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip10 {
    visibility: visible;
}

.tooltip .tooltip11 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    right: 5%;
    bottom: 100%;
    padding: 0.5em;
    width: 700px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip11 {
    visibility: visible;
}

.tooltip .tooltip12 {
    z-index: 2;
    visibility: hidden;
    position: absolute; /*posiciona o tooltip em relação ao elemento pai (td) que deve estar com position: relative*/
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    width: 225px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip12 {
    visibility: visible;
}