/* determina telas com largura entre 391 a 428 px */
@media (max-width:428px) {

    .pagina {
        font-size: 1.6rem;
        line-height: 1.8rem;
        max-width: 413px;
    }

    #perfil {
        width: 97px;
        object-fit: cover;
        object-position: -72px;
    }

    h4 {
        font-size: 1.7rem;
    }

    hr {
        margin: 1% auto 2% auto;
    }

    h2 {
        font-size: 2.7rem;
        margin: 4%;
    }

    h3 {
        font-size: 1.6rem;
    }

    #caixa-texto-quadro3A {
        grid-area: 1 / 1 / span 1 / span 2;
        padding: 0 4% 1% 4%
    }

    #caixa-texto-quadro3B {
        grid-area: 2 / 2 / span 1 / span 1;
        padding: 0 4% 0 2%;
    }

    #imgQ3 {
        grid-area: 2 / 1 / span 1 / span 1;
        width: 99%;
    }

    #quadro4 {
        grid-template-columns: 50% 50%;
    }

    #caixa-texto-quadro4A {
        grid-area: 1 / 1 / span 1 / span 1;
        padding: 1% 4% 1% 8%
    }

    #caixa-texto-quadro4B {
        grid-area: 2 / 1 / span 1 / span 2;
        padding: 0 4% 0 4%;
    }

    #imgQ4 {
        grid-area: 1 / 2 / span 1 / span 1;
        width: 110%;
    }

    #caixa-texto-quadro8A {
        grid-area: 1 / 1 / span 1 / span 2;
        padding: 1% 4% 0 4%;
    }

    #caixa-texto-quadro8B {
        grid-area: 2 / 1 / span 1 / span 1;
        padding: 0 2% 0 6%;
    }

    #imgQ8 {
        grid-area: 2 / 2 / span 1 / span 1;
        width: 100%;
        height: 110%;
        position: absolute;
        bottom: 0;
    }

    #quadro9 {
        margin-top: 2%;
        grid-template-rows: 200px auto;
        grid-template-columns: 35% 65%;
    }

    #caixa-texto-quadro9A {
        grid-area: 1 / 2 / span 1 / span 1;
        padding: 2% 7% 0 4%;
    }

    #caixa-texto-quadro9B {
        grid-area: 2 / 1 / span 1 / span 2;
        padding: 1% 4% 0 4%;
    }

    #imgQ9 {
        grid-area: 1 / 1 / span 1 / span 1;
    }

    #quadro10 {
        margin-top: 1%;
        grid-template-rows: 210px auto;
        grid-template-columns: 35% 65%;
    }

    #caixa-texto-quadro10A {
        grid-area: 1 / 2 / span 1 / span 1;
        padding: 1% 7% 0 4%;
    }

    #caixa-texto-quadro10B {
        grid-area: 2 / 1 / span 1 / span 2;
        padding: 1% 4% 0 4%;
    }

    #imgQ10 {
        grid-area: 1 / 1 / span 1 / span 1;
    }

    p {
        margin: 2% 7%;
        text-align: center;
    }

    #quadro13 {
        grid-template-columns: 33% 67%;
        grid-template-rows: auto 150px;
    }

    #caixa-texto-quadro13B {
        padding: 4% 15% 4% 10%;
        font-size: 1.9rem;
        line-height: 2rem;
    }

    #imgQ13 {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    #quadro14 {
        grid-template-rows: auto 150px;
    }

    #caixa-texto-quadro14B {
        padding: 3% 4% 3% 9%;
        font-size: 1.9rem;
        line-height: 2rem;
    }

    #imgQ14 {
        width: 110%;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .opcoes {
        margin: 4% auto 0 auto;
    }

    #fonte {
        bottom: 5px;
    }

    .tooltip .tooltip1 {
        left: 31%;
        bottom: 9%;
        width: 240px;
    }

    .tooltip .tooltip2 {
        left: 13%;
        bottom: 56%;
        width: 240px;
    }

    .tooltip .tooltip3 {
        left: 17%;
        bottom: 48%;
        width: 265px;
    }

    .tooltip .tooltip4 {
        left: 23%;
        bottom: 29%;
        width: 300px;
    }

    .tooltip .tooltip5 {
        left: 34%;
        bottom: 59%;
        width: 250px;
    }

    .tooltip .tooltip6 {
        left: 14%;
        bottom: 65%;
        width: 290px;
    }

    .tooltip .tooltip7 {
        left: 19%;
        bottom: 40%;
        width: 225px;
    }

    .tooltip .tooltip8 {
        left: 5%;
        bottom: 56%;
        width: 230px;
    }

    .tooltip .tooltip9 {
        left: 11%;
        bottom: 32%;
        width: 240px;
    }

    .tooltip .tooltip10 {
        left: 14%;
        bottom: 16%;
        width: 250px;
    }

    .tooltip .tooltip11 {
        left: 10%;
        bottom: 7%;
    }

    .tooltip .tooltip12 {
        bottom: 130%;
        width: 375px;
    }

    .tooltip .tooltip13 {
        top: 120%;
        width: 125px;
    }
}

/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas com largura de 376 a 390px */
@media (max-width:390px) {

    .pagina {
        max-width: 384px;
    }

    #perfil {
        width: 368%;
        object-position: -83px;
    }

    h4 {
        font-size: 1.6rem;
    }

    #quadro3 {
        grid-template-columns: 44% 56%;
    }

    #quadro4 {
        grid-template-columns: 54% 46%;
    }

    #caixa-texto-quadro4B {
        padding: 1% 4% 0 4%;
    }

    #imgQ4 {
        object-fit: cover;
        object-position: -24px;
        width: 130%;
        height: 310px;
    }

    p {
        margin: 2% 5%;
    }

    #quadro8 {
        grid-template-columns: 63% 37%;
    }

    #caixa-texto-quadro8B {
        padding: 1% 0 0 6%;
    }

    #imgQ8 {
        height: 100%;
    }

    #quadro9 {
        grid-template-rows: 207px auto;
        grid-template-columns: 38% 62%;
    }

    #quadro10 {
        grid-template-rows: 225px auto;
        grid-template-columns: 40% 60%;
    }

    #caixa-texto-quadro13A {
        padding: 2% 3% 0 4%;
    }

    #caixa-texto-quadro13B {
        padding: 4% 14% 4% 10%;
        font-size: 1.8rem;
    }

    #caixa-texto-quadro14B {
        padding: 3% 2% 3% 6%;
        font-size: 1.8rem;
    }

    .tooltip .tooltip1 {
        left: 30%;
        bottom: 8%;
    }

    .tooltip .tooltip2 {
        left: 30%;
        bottom: 60%;
    }

    .tooltip .tooltip3 {
        left: 27%;
        bottom: 49%;
    }

    .tooltip .tooltip4 {
        left: 7%;
        bottom: 27%;
    }

    .tooltip .tooltip5 {
        left: 3%;
        bottom: 84%;
        width: 360px;
    }

    .tooltip .tooltip6 {
        left: 13%;
        bottom: 68%;
    }

    .tooltip .tooltip7 {
        left: 4%;
        bottom: 41%;
    }

    .tooltip .tooltip8 {
        left: -5%;
        bottom: 59%;
    }

    .tooltip .tooltip9 {
        left: 17%;
        bottom: 42%;
    }

    .tooltip .tooltip10 {
        left: 16%;
        bottom: 20%;
    }

    .tooltip .tooltip11 {
        left: 7%;
        bottom: 7%;
    }

    .tooltip .tooltip12 {
        width: 351px;
    }

    .tooltip .tooltip13 {
        top: 125%;
    }
}

/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas com largura até 375px */
@media (max-width:375px) {

    .pagina {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    #perfil {
        width: 444%;
    }

    #caixa-texto-quadro1 {
        padding: 0 3%;
    }

    h4 {
        margin-top: 2%;
        font-size: 1.5rem;
    }

    #quadro8 {
        grid-template-columns: 61% 39%;
    }

    #caixa-texto-quadro8B {
        padding: 1% 0 0 6%;
    }

    p {
        margin: 2% 6%;
    }

    .tooltip .tooltip1 {
        left: 33%;
        bottom: 8%;
        width: 225px;
    }

    .tooltip .tooltip2 {
        left: 16%;
        bottom: 60%;
    }

    .tooltip .tooltip3 {
        left: 25%;
        bottom: 52%;
    }

    .tooltip .tooltip4 {
        left: 5%;
        bottom: 28%;
        width: 297px;
    }

    .tooltip .tooltip5 {
        left: 1%;
        bottom: 52%;
    }

    .tooltip .tooltip6 {
        left: 11%;
        bottom: 68%;
    }

    .tooltip .tooltip7 {
        left: 35%;
        bottom: 44%;
    }

    .tooltip .tooltip8 {
        left: -10%;
        bottom: 61%;
    }

    .tooltip .tooltip9 {
        left: 11%;
        bottom: 35%;
        width: 220px
    }

    .tooltip .tooltip10 {
        left: 8%;
        bottom: 20%;
    }

    .tooltip .tooltip11 {
        left: 6%;
        bottom: 7%;
    }

    .tooltip .tooltip12 {
        width: 340px;
    }
}

/* determina telas com largura até 360px */
@media (max-width:360px) {

    #perfil {
        width: 370%;
    }

    h4 {
        font-size: 1.5rem;
    }

    #quadro8 {
        grid-template-columns: 63% 37%;
    }

    p {
        margin: 2% 5%;
    }

    #caixa-texto-quadro14B {
        padding: 3% 0 3% 6%;
    }

    h2 {
        font-size: 2.5rem;
        margin: 4% auto;
    }

    .tooltip .tooltip1 {
        left: 30%;
        bottom: 8%;
    }

    .tooltip .tooltip2 {
        left: 21%;
        bottom: 61%;
        width: 260px;
    }

    .tooltip .tooltip3 {
        bottom: 50%;
        left: 12%;
    }

    .tooltip .tooltip4 {
        left: 5%;
        bottom: -5%;
    }

    .tooltip .tooltip5 {
        left: 12%;
        bottom: 52%;
        width: 270px;
    }

    .tooltip .tooltip6 {
        left: 14%;
        bottom: 67%;
        width: 252px;
    }

    .tooltip .tooltip7 {
        left: 4%;
        bottom: 45%;
        width: 210px;
    }

    .tooltip .tooltip8 {
        left: -7%;
        bottom: 61%;
        width: 220px;
    }

    .tooltip .tooltip9 {
        left: 17%;
        bottom: 43%;
    }

    .tooltip .tooltip10 {
        left: 13%;
        bottom: 20%;
    }

    .tooltip .tooltip11 {
        left: 4%;
        bottom: 7%;
    }

    .tooltip .tooltip12 {
        width: 327px;
    }

}

/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas em LANDSCAPE com altura entre 414 a 428 px */
@media (orientation: landscape) and (max-height: 428px) {

    #quadro1 {
        height: 100vh;
    }

    #perfil {
        width: 425%;
    }

    #caixa-texto-quadro1 {
        padding: 0 3% 0 3%;
        text-align: justify;
        line-height: 2.6rem;
        margin-top: auto;
        margin-bottom: auto;
    }

    h2 {
        font-size: 4rem;
        line-height: 0.5em;
        margin-left: 2%;
        padding-top: 2%;
    }

    h3 {
        font-size: 1.9rem;
    }

    h4 {
        font-size: 2.7rem;
    }

    #quadro2 {
        height: 100vh;
        display: flex;
    }

    #caixa-texto-quadro2 {
        padding: 0 4%;
        line-height: 2.6rem;
        margin-top: auto;
        margin-bottom: auto;
    }

    #quadro3 {
        height: 100vh;
        grid-template-columns: 43% 57%;
        grid-template-rows: 50vh 50vh;
    }

    #caixa-texto-quadro3A {
        padding: 3% 4% 0 4%;
        line-height: 2.5rem;
    }

    #caixa-texto-quadro3B {
        padding: 0 4%;
        line-height: 2.5rem;
    }

    #quadro4 {
        height: 100vh;
        grid-template-columns: 59% 42%;
    }

    #caixa-texto-quadro4A {
        padding: 3% 3% 0 5%;
        line-height: 2.5rem;
    }

    #caixa-texto-quadro4B {
        padding: 0 3% 0 5%;
        line-height: 2.5rem;
    }

    #caixa-texto-quadro5 {
        height: 100vh;
        display: table-cell;
        vertical-align: middle;
        padding: 0 4%;
    }

    #imgQ5 {
        display: none;
    }

    #imgQ5-media {
        display: block;
        width: 100%;
        height: 100vh;
        scroll-snap-stop: always;
        scroll-snap-align: start;
    }

    #quadro6 {
        height: 100vh;
        position: relative;
    }

    #caixa-texto-quadro6 {
        line-height: 2rem;
        height: 55vh;
    }

    #imgQ6 {
        width: 96%;
        height: 43vh;
        object-fit: cover;
        object-position: top;
        position: absolute;
        bottom: 0;
    }

    #quadro7 {
        height: 100vh;
        display: flex;
    }

    #caixa-texto-quadro7 {
        line-height: 2.8rem;
        padding: 0 4%;
        margin-top: auto;
        margin-bottom: auto;
    }

    #quadro8 {
        height: 100vh;
        grid-template-columns: 57% 43%;
    }

    #caixa-texto-quadro8A {
        padding: 2% 0 0 5%;
        line-height: 2.8rem;
    }

    #caixa-texto-quadro8B {
        padding: 0 0 0 5%;
        line-height: 2.8rem;
    }

    #quadro9 {
        height: 100vh;
        grid-template-rows: 47vh 53vh;
    }

    #caixa-texto-quadro9A {
        padding: 4% 6% 0 4%;
    }

    #caixa-texto-quadro9B {
        padding: 0 6% 0 4%;
    }

    #imgQ9 {
        height: 100vh;
    }

    #quadro10 {
        height: 100vh;
        grid-template-rows: 53vh 47vh;
    }

    #caixa-texto-quadro10A {
        padding: 4% 6% 0 4%;
    }

    #caixa-texto-quadro10B {
        padding: 0 6% 0 4%;
    }

    #imgQ10 {
        height: 100vh;
    }

    #quadro11 {
        height: 100vh;
        display: flex;
    }

    #caixa-texto-quadro11 {
        padding: 0 4%;
        line-height: 2.9rem;
        margin-top: auto;
        margin-bottom: auto;
    }

    p {
        margin: 2% 0;
    }

    #quadro12 {
        height: 100vh;
        display: flex;
    }

    #caixa-texto-quadro12 {
        padding: 0 4%;
        line-height: 2.8rem;
        margin-top: auto;
        margin-bottom: auto;
    }

    #quadro13 {
        height: 100vh;
    }

    #caixa-texto-quadro13A {
        line-height: 2.6rem;
    }

    #caixa-texto-quadro13B {
        margin-top: 0;
        margin-bottom: 0;
    }

    #imgQ13 {
        position: absolute;
        bottom: 0;
    }

    #quadro14 {
        height: 100vh;
        grid-template-rows: 18vh 68vh 14vh;
    }

    #caixa-texto-quadro14A {
        padding: 2% 4% 5% 4%;
        line-height: 2.9rem;
    }

    #caixa-texto-quadro14B {
        padding: 0 12%;
    }

    #caixa-texto-quadro14C {
        padding: 2% 4% 0 4%;
    }

    #imgQ14 {
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    #quadro15 {
        height: 100vh;
        display: table-cell;
        vertical-align: middle;
    }

    #caixa-texto-quadro15 {
        padding: 0 6%;
        line-height: 3rem;
    }

    #quadro16 {
        height: 100vh;
        margin: 12%;
        padding-top: 1%;
    }

    #titulo {
        display: none;
    }

    #fonte {
        bottom: 33vh;
    }

    #tela-final {
        position: relative;
        height: 100vh;
    }

    #mensagem-final-ca {
        position: absolute;
        bottom: 0;
    }

    .tooltip .tooltip1 {
        left: 54%;
        bottom: 13%;
    }

    .tooltip .tooltip2 {
        left: 33%;
        bottom: 51%;
        width: 300px;
    }

    .tooltip .tooltip3 {
        left: 37%;
        bottom: 46%;
    }

    .tooltip .tooltip4 {
        left: 4%;
        bottom: 29%;
    }

    .tooltip .tooltip5 {
        left: 44%;
        bottom: 37%;
    }

    .tooltip .tooltip6 {
        left: 50%;
        bottom: 63%;
    }

    .tooltip .tooltip7 {
        left: 4%;
        bottom: 38%;
    }

    .tooltip .tooltip8 {
        left: 28%;
        bottom: 50%;
    }

    .tooltip .tooltip9 {
        left: 34%;
        bottom: 54%;
    }

    .tooltip .tooltip10 {
        left: 3%;
        bottom: 19%;
    }

    .tooltip .tooltip11 {
        left: 44%;
        bottom: 9%;
    }

    .tooltip .tooltip12 {
        bottom: 98%;
    }

    .tooltip .tooltip13 {
        top: 93%;
    }
}

/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas em LANDSCAPE com altura entre 391 a 414 px */
@media (orientation: landscape) and (max-height: 414px) {

    #caixa-texto-quadro3A {
        padding: 1% 4% 0 4%;
    }

    #caixa-texto-quadro3B {
        padding: 0 4%;
        line-height: 2.4rem;
    }

    #quadro16 {
        margin: 14%;
        padding-top: 2%;
    }

    #fonte {
        bottom: 38vh;
    }

    .tooltip .tooltip1 {
        bottom: 12%;
    }

    .tooltip .tooltip5 {
        left: 49%;
        bottom: 37%;
    }

    .tooltip .tooltip8 {
        bottom: 48%;
    }

    .tooltip .tooltip9 {
        bottom: 53%;
    }

    .tooltip .tooltip10 {
        bottom: 18%;
    }
}

/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em LANDSCAPE com altura de 376 a 390px */
@media (orientation: landscape) and (max-height: 390px) {
    #quadro1 {
        height: 100vh;
    }

    #caixa-texto-quadro1 {
        line-height: 2.4rem;
    }

    #caixa-texto-quadro2 {
        line-height: 2.3rem;
    }

    #quadro3 {
        grid-template-columns: 40% 60%;
        grid-template-rows: 47vh 53vh;
    }

    #caixa-texto-quadro3A {
        line-height: 2.6rem;
        padding: 2% 5% 0 0;
    }

    #caixa-texto-quadro3B {
        line-height: 2.6rem;
        padding: 2% 5% 0 0;
    }

    #imgQ3 {
        width: 97%;
    }

    #caixa-texto-quadro4 {
        line-height: 2.4rem;
    }

    #caixa-texto-quadro6 {
        padding: 1% 4% 0 4%;
        line-height: 2.1rem;
    }

    #imgQ6 {
        width: 71%;
        height: 36vh;
        position: absolute;
        left: 106px;
    }

    #caixa-texto-quadro8A {
        line-height: 2.6rem;
    }

    #caixa-texto-quadro8B {
        line-height: 2.6rem;
    }

    #quadro9 {
        grid-template-columns: 33% 67%;

    }

    #caixa-texto-quadro9A {
        padding: 2% 4% 0 3%;
    }

    #caixa-texto-quadro9B {
        padding: 0 4% 0 3%;
    }

    #quadro10 {
        grid-template-rows: 54vh 46vh;
    }

    #caixa-texto-quadro10A {
        padding: 2% 4% 0 3%;
    }

    #caixa-texto-quadro10B {
        padding: 0 4% 0 3%;
    }

    p {
        margin: 0;
    }

    #caixa-texto-quadro13 {
        line-height: 2.4rem;
    }

    #imgQ13 {
        width: 88%;
        right: 10px;
    }

    #caixa-texto-quadro14A {
        padding: 2% 4% 2% 4%;
    }

    #quadro16 {
        margin: 16%;
        padding-top: 1%;
    }

    #fonte {
        bottom: 45vh;
    }

    .tooltip .tooltip1 {
        left: 39%;
        bottom: 12%;
    }

    .tooltip .tooltip2 {
        left: 18%;
        bottom: 47%;
    }

    .tooltip .tooltip3 {
        left: 36%;
        bottom: 42%;
    }

    .tooltip .tooltip4 {
        left: 4%;
        bottom: 29%;
    }

    .tooltip .tooltip5 {
        left: 40%;
        bottom: 29%;
    }

    .tooltip .tooltip6 {
        left: 50%;
        bottom: 63%;
    }

    .tooltip .tooltip7 {
        left: 3%;
        bottom: 38%;
    }

    .tooltip .tooltip8 {
        left: 30%;
        bottom: 50%;
    }

    .tooltip .tooltip9 {
        left: 32%;
        bottom: 48%;
    }

    .tooltip .tooltip10 {
        left: 4%;
        bottom: 19%;
    }

    .tooltip .tooltip11 {
        left: 44%;
        bottom: 9%;
    }
}

/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em LANDSCAPE com altura de até 375 px */
@media (orientation: landscape) and (max-height: 375px) {

    .pagina {
        max-width: 667px;
        font-size: 1.8rem;
    }

    #perfil {
        object-fit: cover;
        width: 480%;
    }

    h4 {
        font-size: 2.2rem;
    }

    #caixa-texto-quadro1 {
        line-height: 2.1rem;
        padding: 0 3% 0 2%;
    }

    #caixa-texto-quadro2 {
        line-height: 2.1rem;
    }

    #quadro3 {
        grid-template-columns: 41% 59%;
        grid-template-rows: 50vh 50vh;
    }

    #caixa-texto-quadro3A {
        line-height: 2.2rem;
    }

    #caixa-texto-quadro3B {
        line-height: 2.2rem;
        padding: 0 5% 0 0;
    }

    #caixa-texto-quadro4A {
        line-height: 2.3rem;
        padding: 3% 3% 0 5%;
    }

    #caixa-texto-quadro4B {
        line-height: 2.3rem;
        padding: 0 3% 2% 5%;
    }

    #caixa-texto-quadro6 {
        line-height: 2.7rem;
        padding: 3% 4% 0 4%;
        margin-top: auto;
        margin-bottom: auto;
        height: 100vh;
    }

    #imgQ6 {
        display: none;
    }

    #caixa-texto-quadro7 {
        line-height: 2.3rem;
    }

    #quadro8 {
        grid-template-columns: 59% 41%;
        grid-template-rows: 52% 48%;
    }

    #caixa-texto-quadro8A {
        line-height: 2.3rem;
    }

    #caixa-texto-quadro8B {
        line-height: 2.4rem;
    }

    #caixa-texto-quadro9A {
        padding: 5% 4% 0 3%;
    }

    #caixa-texto-quadro10A {
        padding: 5% 4% 0 3%;
    }

    #caixa-texto-quadro11 {
        line-height: 2.4rem;
        padding: 0 3%;
    }

    p {
        padding: 1% 3%;
        margin: 1% 0;
    }

    #caixa-texto-quadro12 {
        line-height: 2.3rem;
    }

    #caixa-texto-quadro13A {
        line-height: 2.2rem;
        padding: 1% 4% 0 4%;
    }

    #caixa-texto-quadro13B {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    #imgQ13 {
        width: 100%;
        right: -12px;
    }

    #caixa-texto-quadro14B {
        font-size: 2.5rem;
        line-height: 3rem;
        padding: 0 14%;
    }

    #imgQ14 {
        width: 110%;
    }

    #caixa-texto-quadro15 {
        line-height: 2.8rem;
    }

    #quadro16 {
        margin: 10%;
        padding-top: 1%;
    }

    #fonte {
        bottom: 28vh;
    }

    .tooltip .tooltip1 {
        left: 39%;
        bottom: 13%;
    }

    .tooltip .tooltip2 {
        left: 29%;
        bottom: 51%;
        width: 300px;
    }

    .tooltip .tooltip3 {
        left: 34%;
        bottom: 46%;
    }

    .tooltip .tooltip4 {
        left: 23%;
        bottom: 34%;
        width: 474px;
    }

    .tooltip .tooltip5 {
        left: 43%;
        bottom: 37%;
    }

    .tooltip .tooltip6 {
        left: 4%;
        bottom: 55%;
        width: 340px;
    }

    .tooltip .tooltip7 {
        left: 16%;
        bottom: 40%;
        width: 335px;
    }

    .tooltip .tooltip8 {
        left: 32%;
        bottom: 48%;
        width: 275px;
    }

    .tooltip .tooltip9 {
        left: 9%;
        bottom: 51%;
        width: 265px;
    }

    .tooltip .tooltip10 {
        left: 13%;
        bottom: 23%;
        width: 290px;
    }

    .tooltip .tooltip11 {
        left: 7%;
        bottom: 9%;
    }
}

/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em LANDSCAPE com altura de até 360 px */
@media (orientation: landscape) and (max-height: 360px) {

    .pagina {
        max-width: 640px;
    }

    #perfil {
        width: 440%;
    }

    #caixa-texto-quadro2 {
        line-height: 2.1rem;
        padding: 0 3%;
    }

    #quadro3 {
        grid-template-columns: 37% 63%;
        grid-template-rows: 50% 50%;
    }

    #caixa-texto-quadro3A {
        line-height: 2.2rem;
        padding: 1% 4% 0 3%;
    }

    #caixa-texto-quadro3B {
        line-height: 2.1rem;
        padding: 0 4% 0 3%;
    }

    #caixa-texto-quadro4A {
        line-height: 2.2rem;
        padding: 2% 2% 0 5%;
    }

    #caixa-texto-quadro5 {
        line-height: 2.3rem;
        padding: 0 3% 0 4%;
    }

    #caixa-texto-quadro6 {
        line-height: 2.5rem;
        padding: 4% 4% 0 4%;
    }

    #caixa-texto-quadro7 {
        line-height: 2.3rem;
        padding: 0 3% 0 4%;
    }

    #quadro8 {
        grid-template-columns: 62% 38%;
    }

    #caixa-texto-quadro8A {
        line-height: 2.2rem;
        padding: 3% 0 0 5%;
    }

    #caixa-texto-quadro8B {
        line-height: 2.2rem;
        padding: 0 0 3% 5%;
    }

    #imgQ8 {
        height: 90%;
        position: absolute;
        bottom: 0;
    }

    #caixa-texto-quadro9A {
        line-height: 2.2rem;
        padding: 2% 4% 0 3%;
    }

    #caixa-texto-quadro9B {
        line-height: 2.2rem;
        padding: 0 4% 0 3%;
    }

    #quadro10 {
        grid-template-rows: 53vh 47vh;
    }

    #caixa-texto-quadro10A {
        line-height: 2.2rem;
        padding: 2% 4% 0 3%;
    }

    #caixa-texto-quadro10B {
        line-height: 2.2rem;
        padding: 0 4% 0 3%;
    }

    #caixa-texto-quadro11 {
        line-height: 2.3rem;
    }

    p {
        padding: 0 1%;
    }

    #caixa-texto-quadro12 {
        line-height: 2.2rem;
    }

    #caixa-texto-quadro13A {
        line-height: 2.1rem;
        padding: 1% 4% 0 4%;
    }

    #caixa-texto-quadro13B {
        font-size: 2.4rem;
        padding: 0 14% 0 8%;
    }

    #quadro14 {
        grid-template-rows: 18vh 65vh 17vh;
    }

    #caixa-texto-quadro14A {
        padding: 2% 4% 0% 4%;
        line-height: 2.4rem;
    }

    #caixa-texto-quadro14B {
        padding: 0 13%;
    }

    #caixa-texto-quadro14C {
        padding: 1% 4% 0 4%;
        line-height: 2.2rem;
    }

    .tooltip .tooltip1 {
        left: 36%;
        bottom: 12%;
    }

    .tooltip .tooltip2 {
        left: 33%;
        bottom: 51%;
        width: 270px;
    }

    .tooltip .tooltip3 {
        left: 32%;
        bottom: 45%;
    }

    .tooltip .tooltip4 {
        left: 2%;
        bottom: 28%;
        width: 440px;
    }

    .tooltip .tooltip5 {
        left: 41%;
        bottom: 35%;
    }

    .tooltip .tooltip6 {
        left: 4%;
        bottom: 55%;
    }

    .tooltip .tooltip7 {
        left: 48%;
        bottom: 40%;
        width: 305px;
    }

    .tooltip .tooltip8 {
        left: 29%;
        bottom: 52%;
    }

    .tooltip .tooltip9 {
        left: 16%;
        bottom: 52%;
    }

    .tooltip .tooltip10 {
        left: 31%;
        bottom: 25%;
    }

    .tooltip .tooltip11 {
        left: 27%;
        bottom: 9%;
        width: 300px;
    }
}