* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens-maura/pano-de-fundo.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

#quadro1 {
    display: flex;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#perfil {
    width: 435%;
}

h4 {
    /* título */
    font-size: 2.7rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}

hr {
    border-color: rgb(70, 7, 3);
    border-width: 3px;
    box-shadow: 3px 4px 3px rgb(78, 95, 95);
    margin: 2% auto;
    width: 100%;
}

#caixa-texto-quadro1 {
    padding: 2% 4% 0 4%;
    text-align: justify;
}

#quadro2 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro2 {
    text-align: justify;
    padding: 1% 4%;
    position: relative;
}

#quadro3 {
    display: grid;
    grid-template-columns: 39% 61%;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    margin-bottom: 2%;
}

#caixa-texto-quadro3A {
    grid-area: 1 / 2 / span 1 / span 1;
    padding: 0 4% 0 2%;
    text-align: justify;
}

#caixa-texto-quadro3B {
    grid-area: 2 / 2 / span 1 / span 1;
    padding: 0 4% 0 2%;
    text-align: justify;
}

#imgQ3 {
    grid-area: 1 / 1 / span 2 / span 1;
    width: 100%;
    height: 100%;
}

#quadro4 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 60% 40%;
}

#caixa-texto-quadro4A {
    grid-area: 1 / 1 / span 1 / span 1;
    padding: 1% 2% 0 5%;
    text-align: justify;
}

#caixa-texto-quadro4B {
    grid-area: 2 / 1 / span 1 / span 1;
    padding: 0 2% 0 5%;
    text-align: justify;
}

#imgQ4 {
    grid-area: 1 / 2 / span 2 / span 1;
    width: 100%;
    height: 100%;
}

#quadro5 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro5 {
    text-align: justify;
    padding: 1% 4% 1% 4%;
    position: relative;
}

#imgQ5 {
    width: 100%;
}

#imgQ5-media {
    display: none;
}

#quadro6 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro6 {
    text-align: justify;
    padding: 1% 4% 1% 4%;
    position: relative;
}

#imgQ6 {
    width: 100%;
}

#quadro7 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro7 {
    text-align: justify;
    padding: 1% 4% 0 4%;
    position: relative;
}

#quadro8 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 60% 40%;
}

#caixa-texto-quadro8A {
    grid-area: 1 / 1 / span 1 / span 1;
    padding: 1% 2% 0 6%;
    text-align: justify;
}

#caixa-texto-quadro8B {
    grid-area: 2 / 1 / span 1 / span 1;
    padding: 0 2% 0 6%;
    text-align: justify;
}

#imgQ8 {
    grid-area: 1 / 2 / span 2 / span 1;
    width: 100%;
    height: 100%;
}

#quadro9 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 185px 200px;
}

#caixa-texto-quadro9A {
    grid-area: 1 / 2 / span 1 / span 1;
    text-align: justify;
    padding: 1% 6% 0 4%;
    position: relative;
}

#caixa-texto-quadro9B {
    grid-area: 2 / 2 / span 1 / span 1;
    text-align: justify;
    padding: 0 6% 0 4%;
    position: relative;
}

#imgQ9 {
    grid-area: 1 / 1 / span 2 / span 1;
    width: 100%;
    height: 100%;
}

#quadro10 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 200px 190px;
}

#caixa-texto-quadro10A {
    grid-area: 1 / 2 / span 1 / span 1;
    text-align: justify;
    padding: 1% 6% 0 4%;
    position: relative;
}

#caixa-texto-quadro10B {
    grid-area: 2 / 2 / span 1 / span 1;
    text-align: justify;
    padding: 2% 6% 0 4%;
    position: relative;
}

#imgQ10 {
    grid-area: 1 / 1 / span 2 / span 1;
    width: 100%;
    height: 100%;
}

#quadro11 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro11 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

p {
    padding: 1% 6%;
    font-weight: bold;
}

#quadro12 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro12 {
    padding: 1% 4% 0 4%;
    text-align: justify;
    position: relative;
}

#quadro13 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 30% 70%;
}

#caixa-texto-quadro13A {
    grid-area: 1 / 1 / span 1 / span 2;
    text-align: justify;
    padding: 1% 4% 0 4%;
    position: relative;
}

#caixa-texto-quadro13B {
    grid-area: 2 / 2 / span 1 / span 1;
    text-align: center;
    padding: 0 18% 0 8%;
    position: relative;
    font-size: 2.9rem;
    line-height: 3.1rem;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

#imgQ13 {
    grid-area: 2 / 1 / span 1 / span 1;
    width: 100%;
}

#quadro14 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 75% 25%;
}

#caixa-texto-quadro14A {
    grid-area: 1 / 1 / span 1 / span 2;
    text-align: justify;
    padding: 1% 4% 0 4%;
    position: relative;
}

#caixa-texto-quadro14B {
    grid-area: 2 / 1 / span 1 / span 1;
    text-align: center;
    padding: 0 15%;
    position: relative;
    font-size: 2.9rem;
    line-height: 3.1rem;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

#caixa-texto-quadro14C {
    grid-area: 3 / 1 / span 1 / span 2;
    text-align: justify;
    padding: 1% 4% 0 4%;
    position: relative;
}

#imgQ14 {
    grid-area: 2 / 2 / span 1 / span 1;
    width: 100%;
}

#quadro15 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro15 {
    padding: 1% 4% 0 4%;
    text-align: justify;
    position: relative;
}

#quadro16 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    margin: 2%;
}

#fonte {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    text-align: end;
    padding: 1% 4%;
}

td {
    width: 33%;
    position: relative;
    text-align: center;
}

.opcao {
    width: 100%;
}

.opcao-link {
    width: 100%;
}

#tela-final {
    display: none;
    scroll-snap-align: start;
    width: 100%;
    margin-top: 5%;
}

#mensagem-final-ca {
    width: 100%;
}

#link {
    margin: auto;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

h2 {
    font-family: "Palatino Linotype";
    font-size: 5rem;
    color: rgb(54, 49, 34);
    text-shadow: 2px 2px 2px rgb(78, 95, 95);
    line-height: 1em;
    text-align: center;
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

.tooltip {
    display: inline-block;
}

.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 58%;
    bottom: 8%;
    padding: 0.5em;
    width: 300px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip1 {
    visibility: visible;
}

.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 12%;
    bottom: 58%;
    padding: 0.5em;
    width: 425px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip2 {
    visibility: visible;
}

.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 36%;
    bottom: 48%;
    padding: 0.5em;
    width: 410px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip3 {
    visibility: visible;
}

.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 4%;
    bottom: 29%;
    padding: 0.5em;
    width: 525px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip4 {
    visibility: visible;
}

.tooltip .tooltip5 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 40%;
    bottom: 31%;
    padding: 0.5em;
    width: 351px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip5 {
    visibility: visible;
}

.tooltip .tooltip6 {
    z-index: 4;
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: 61%;
    padding: 0.5em;
    width: 365px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip6 {
    visibility: visible;
}

.tooltip .tooltip7 {
    z-index: 4;
    visibility: hidden;
    position: absolute;
    left: 4%;
    bottom: 37%;
    padding: 0.5em;
    width: 350px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip7 {
    visibility: visible;
}

.tooltip .tooltip8 {
    z-index: 3;
    visibility: hidden;
    position: absolute;
    left: 29%;
    bottom: 51%;
    padding: 0.5em;
    width: 300px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip8 {
    visibility: visible;
}

.tooltip .tooltip9 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 34%;
    bottom: 46%;
    padding: 0.5em;
    width: 290px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip9 {
    visibility: visible;
}

.tooltip .tooltip10 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 3%;
    bottom: 17%;
    padding: 0.5em;
    width: 355px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip10 {
    visibility: visible;
}

.tooltip .tooltip11 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 45%;
    bottom: 9%;
    padding: 0.5em;
    width: 330px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip11 {
    visibility: visible;
}

.tooltip .tooltip12 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    right: 5%;
    bottom: 100%;
    padding: 0.5em;
    width: 520px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip12 {
    visibility: visible;
}

.tooltip .tooltip13{
    z-index: 2;
    visibility: hidden;
    position: absolute; /*posiciona o tooltip em relação ao elemento pai (td) que deve estar com position: relative*/
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    width: 225px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip13 {
    visibility: visible;
}