* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens-maura/pano-de-fundo.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

hr {
    border-color: rgb(70, 7, 3);
    border-width: 3px;
    box-shadow: 3px 3px 4px rgb(78, 95, 95);
    margin: 2% auto;
    width: 100%;
}

h4 {
    /* título */
    font-size: 2.9rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}

#quadro1 {
    display: flex;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#perfil {
    width: 369%;
}

#caixa-texto-quadro1 {
    padding: 2% 4% 0 2%;
    text-align: justify;
}

#quadro2 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro2 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#quadro3 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    grid-template-columns: 65% 11% 24%;
}

#caixa-texto-quadro3A {
    grid-area: 1 / 1 / span 1 / span 2;
    padding: 1% 0 0 5%;
    text-align: start;
}

#caixa-texto-quadro3B {
    grid-area: 2 / 1 / span 1 / span 1;
    padding: 0 0 0 6%;
    text-align: justify;
}

#caixa-texto-quadro3C {
    grid-area: 3 / 1 / span 1 / span 4;
    padding: 0 0 0 4%;
    text-align: justify;
}

#caixa-texto-quadro3D {
    grid-area: 4 / 1 / span 1 / span 3;
    padding: 0 4%;
    text-align: justify;
}

#imgQ3 {
    grid-area: 1 / 3 / span 1 / span 1;
    width: 145%;
    position: absolute;
    right: 0;
    top: -7px;
}

#quadro4 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro4 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#quadro5 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    height: 400px;
}

#caixa-texto-quadro5 {
    position: absolute;
    bottom: 135px;
    padding: 0 7% 0 45%;
    text-align: justify;
    font-size: 2.4rem;
    z-index: 1;
}

#imgQ5 {
    width: 90%;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

#quadro6 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro6 {
    position: relative;
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#quadro7 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    height: 450px;
    display: table-cell;
    vertical-align: middle;
}

#caixa-texto-quadro7A {
    text-align: start;
    line-height: 2.7rem;
    padding: 0 4%;
    position: relative;
    z-index: 2;
    width: 87%;
}

#caixa-texto-quadro7B {
    text-align: start;
    line-height: 2.7rem;
    padding: 0 3%;
    position: relative;
    z-index: 2;
    width: 88%;
}

#imgQ7 {
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 30%;
}

#quadro8 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    height: 310px;
}

#caixa-texto-quadro8 {
    text-align: start;
    line-height: 2.6rem;
    padding: 0 7% 0 4%;
    position: absolute;
    top: 14%;
    width: 68%;
    z-index: 1;
}

#imgQ8 {
    position: absolute;
    bottom: 0;
}

#quadro9 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto-quadro9 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}

#quadro10 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-texto-quadro10 {
    padding: 1% 5% 0 45%;
    text-align: end;
    position: absolute;
    bottom: 68px;
    font-size: 2.7rem;
    line-height: 3rem;
    font-weight: bold;
}

#quadro11 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    margin: 2%;
}

h2 {
    font-family: "Palatino Linotype";
    font-size: 5rem;
    color: rgb(54, 49, 34);
    text-shadow: 2px 2px 2px rgb(78, 95, 95);
    line-height: 1em;
    text-align: center;
    margin: 2% 0;
}

td {
    width: 33%;
    position: relative;
    text-align: center;
}

.opcao {
    width: 100%;
}

.opcao-link {
    width: 100%;
}

#fonte {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    text-align: end;
    padding: 0 4% 2% 0;
}

#tela-final {
    display: none;
    scroll-snap-align: start;
    width: 100%;
    margin-top: 5%;
}

#mensagem-final-ca {
    width: 100%;
}

#link {
    margin: auto;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

.tooltip {
    display: inline-block;
}

.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 45%;
    bottom: 51%;
    padding: 0.5em;
    width: 400px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip1 {
    visibility: visible;
}

.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 35%;
    bottom: 23%;
    padding: 0.5em;
    width: 425px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip2 {
    visibility: visible;
}

.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 60%;
    bottom: 16%;
    padding: 0.5em;
    width: 285px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip3 {
    visibility: visible;
}

.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 14%;
    bottom: 38%;
    padding: 0.5em;
    width: 340px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip4 {
    visibility: visible;
}

.tooltip .tooltip5 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 31%;
    bottom: 43%;
    padding: 0.5em;
    width: 360px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip5 {
    visibility: visible;
}

.tooltip .tooltip6 {
    z-index: 4;
    visibility: hidden;
    position: absolute;
    left: 26%;
    bottom: 29%;
    padding: 0.5em;
    width: 330px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip6 {
    visibility: visible;
}

.tooltip .tooltip7 {
    z-index: 4;
    visibility: hidden;
    position: absolute;
    left: 48%;
    bottom: 19%;
    padding: 0.5em;
    width: 390px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip7 {
    visibility: visible;
}

.tooltip .tooltip8 {
    z-index: 3;
    visibility: hidden;
    position: absolute;
    left: 51%;
    bottom: 32%;
    padding: 0.5em;
    width: 320px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip8 {
    visibility: visible;
}

.tooltip .tooltip9 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 40%;
    bottom: 40%;
    padding: 0.5em;
    width: 300px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip9 {
    visibility: visible;
}

.tooltip .tooltip10 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 6%;
    bottom: 22%;
    padding: 0.5em;
    width: 400px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip10 {
    visibility: visible;
}

.tooltip .tooltip11 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    right: 5%;
    bottom: 114%;
    padding: 0.5em;
    width: 720px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip11 {
    visibility: visible;
}

.tooltip .tooltip12{
    z-index: 2;
    visibility: hidden;
    position: absolute; /*posiciona o tooltip em relação ao elemento pai (td) que deve estar com position: relative*/
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    width: 225px;
    line-height: 1.1em;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip12 {
    visibility: visible;
}