* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens/superficie-de-embalagem-de-cartao-liso-bege.jpg");
    background-size: cover;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

hr {
    border-color: rgb(70, 7, 3);
    border-width: 2px;
    box-shadow: 2px 2px 2px rgb(78, 95, 95);
    margin: 3% auto;
    width: 90%;
}

h4 {
    /* título */
    font-size: 3rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
    margin-top: 2%;
}

#quadro1 {
    display: flex;
    width: 800px;
    position: relative;
    scroll-snap-align: start;
}
#perfil{
    width: 150%;
    object-fit: cover;
}
#texto-perfil{
    padding: 3%;
    text-align: justify;
    text-justify: inter-word;
}
.opcoes {
    width: 90%;
    margin: 4% auto;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
.opcao{
    width: 100%;
}
